.case-studies-wrap {
	background-color: $grey-2;
	text-align: center;
	padding: 0;

	@include noSelect();

	&.white-background {
		background-color: $white;
	}

	.case-studies {
		overflow: hidden;
		@include gpuAccelerate(opacity);
		@include transition-this(opacity, $speed:0.3s, $ease:ease-in);
		@include opacity(0, 0);

		@media #{$xxlarge1921-up} {
			&.fix-max-height-cms,
			&.fix-max-height {
				height: 900px !important;

				.carousel-case {
					height: 100% !important;
					padding-bottom:0% !important;
				}

			//	width:1440px !important;
			//	margin-left:calc((100% - 1440px) / 2) !important;
			//	margin-right:calc((100% - 1440px) / 2) !important;
			//	box-sizing: border-box;
			//	padding-left: 5px;
			//	padding-right: 5px;
			//
			//	&.increase-width {
			//		width:1600px !important;
			//		margin-left:calc((100% - 1600px) / 2) !important;
			//		margin-right:calc((100% - 1600px) / 2) !important;
			//	}
			}

			&.fix-max-height-cms {
				height: 1080px !important;
			}
		}

		&.fadeInOptimized {
			@include opacity(100, 1);
		}

	  .case-banner-nav-right,
	  .case-banner-nav-left {
			position:absolute;
			left: 0px;
			// background: rgba(0,0,0,0.3);
			width: 200px;
			height: 100%;
			cursor: pointer;
			z-index: 500;
			@include opacity(0, 0);
			@include gpuAccelerate(opacity);
			@include transition-this(opacity, 0.3s, ease-in-out);

			background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
			background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
			background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
			background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);

			&.reveal-nav {
				@include opacity(100, 1);
			}

			@media #{$small-and-medium-only} {
				display:none;
			}

			svg {
				position: absolute;
				top: 50%;
				@include calc(top, "50% - 15px");
				@include calc(right, "50% - 15px");
			}
		}

		.case-banner-nav-right {
			left: auto;
			right: 0px;

			background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
			background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
			background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
			background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
		}

		.no-background {
			background: rgba(0,0,0,0);
		}


		.carousel-case {
			position: relative;
			@include float-both();
			width: 100%;
			padding-bottom: 56%;
			overflow:hidden;

			&.increase-height {
				padding-bottom: 60% !important;
			}

			@media #{$small-only} {
				padding-bottom: 250px;

				&.no-padding-bottom {
					padding-bottom: 50%;
				}
			}

			$item_count: 1;

			//Case study carousel backgrounds
			$page_ref_backgrounds: (
				'microsoft-social-engagement',
				'castrol-presentation',
				'entertainment-one-brand-toolkits',
				'sungard-animated-looping-presentation',
				'article10-bees',
				'sungard-presentation',
				'old-uppinghamian-website-redesign',
				'stoli-app-design',
				'steljes-interactive-experience',
				'openbet-website-redesign',
				'thre-tablet-presentation-digital',
				'omni-channel',
				'etf-advert',
				'future-decoded',
				'stoli-video-production',
				'steljes-interactive-experience',
				'bdp-exhibition-design',
				'thor-exhibition-design',
				'mail-online-exhibition-design',
				'aarhus',
				'kfc-people-promise',
				'microsoft-mva',
			);

			$page_ref_foregrounds: (
				 ('microsoft-social-engagement', 'png', false)
				,('castrol-presentation', 'png', false)
				,('entertainment-one-brand-toolkits', 'png', false)
				,('sungard-animated-looping-presentation', 'png', false)
				,('article10-bees', 'png', false)
				,('sungard-presentation', 'png', false)
				,('old-uppinghamian-website-redesign', 'png', false)
				,('stoli-app-design', 'png', false)
				,('steljes-interactive-experience', 'png', false)
				,('openbet-website-redesign', 'png', false)
				,('thre-tablet-presentation-digital', 'png', false)
				,('omni-channel', 'png', false)
				,('etf-advert', 'png', false)
				,('future-decoded', 'png', false)
				,('stoli-video-production', 'png', false)
				,('steljes-interactive-experience', 'png', false)
				,('microsoft-mva', 'jpg', true)
				,('kfc-people-promise', 'png', false)
			);

			&.row {

				&.animate > .pane {
					@include gpuAccelerate();
					@include transition-this(all, 300ms);
				}

				div.pane {
					position: absolute;
					overflow:hidden;
					background-color: black;
					width: 100%;
					height:100%;
					left: 0;
					top: 0;

					@include noSelect();

					.side-gradient {
						@include gpuAccelerate();
						position:absolute;
						width:100%;
						height:100%;
						@include gradient(90deg, $opacBlack2, $transparent);
						z-index:200;
					}

					 .parallax {
						position: absolute;
						overflow: visible;
						left:0;
						top:0;
						width:100%;
						height:100%;
						@include gpuAccelerate();

						&.layer1 {
							background-size: 100%;
							background-repeat: no-repeat;
							background-size: cover;
							z-index: 100;

							@include noSelect();

							@media #{$xxlarge-only} {
								background-position: 0 !important;
							}

							//Case study carousel backgrounds

							@each $pageref in $page_ref_backgrounds {

								&.#{$pageref}-background {
									@include at2x('/images/case-studies/#{$pageref}-background', jpg, cover);
									background-size: cover;
									background-position: -100px;
								}
							}

							//other banner backgrounds

							$other_ref_backgrounds: (
								 future-decoded-2014: 5
								,future-decoded-2015: 5
								,microsoft-university: 3
								,sungard-presentation: 4
								,microsoft-social-engagement: 4
								,microsoft-mva: 6
								,article10-bees: 3
								,future-decoded: 4
								,etf-advert: 5
								,steljes-interactive-experience: 5
								,omni-channel: 5
								,stoli-video-production: 5
							);

							@each $pageGroup in $other_ref_backgrounds {

								$name-slug: #{nth($pageGroup,1)};

								@for $i from 1 through nth($pageGroup,2) {

									&.#{nth($pageGroup,1)}-background_#{$i} {
										background-image:url(/images/projects/#{$name-slug}/carousel/interactive-carousel-image_#{$i}.jpg);
									}
								}
							}
						}

						&.layer2 {
							width: 100%;
							background-size: 100%;
							background-repeat: no-repeat;
							background-position-y: 100%;
							z-index: 250;

							@include noSelect();

							@each $pageref in $page_ref_foregrounds {

								&.#{nth($pageref,1)}-foreground {

									@include at2x('/images/case-studies/#{nth($pageref,1)}-foreground', #{nth($pageref,2)}, 60%);

									background-size: 60%;
									background-position: 100% 100%;

									@media #{$xxlarge-only} {

										$maxWidth: 1250px;

										background-size: 800px !important;
										width: $maxWidth;
										@include calc(margin-left, '(100% - #{$maxWidth}) /2');
										@include calc(margin-right, '(100% - #{$maxWidth}) /2');

										@if #{nth($pageref,3)} == 'true' {
											background-size: 80% !important;
										}
									}

									@media #{$small-only} {
										background-size: 90%;
										background-position-y: inherit;
										background-position-x: 90%;
									}
								}
							}
						}

						&.layer3 {
							top: auto;
							display:block;
							min-width: auto;
							height: 200px;
							bottom: 0;
							left: 95px;
							text-align: left;
							z-index: 300;

							@include noSelect();

							@media #{$xxlarge-only} {
								width: 1440px;
								position: relative;
								margin: 0 auto;
								top: 400px;
								left: 20px;
							}

							@media #{$small-and-medium-only} {
								left: 20px;
							}

							@media #{$small-only} {
								display:none;
							}

							h3 {
								@include float-both();
								width:100%;
								font-weight: $font-weight-semi-bold;
								font-size: 24px;
								line-height: 24px;
								margin-top:$base-font-size!important;
								pointer-events: none;
							}

							p {
								@include float-both();
								@include box-border-sizing();
								line-height:ceil($base-font-size * 0.8);
								padding:0px;
								width: 100%;
								pointer-events: none;
							}

							span.tag {
								float: left;
								@include border-radius(14px);
								padding:1px 20px;
								color: #e9664d;
								border:solid 1px #e9664d;
								margin-top:$base-font-size!important;
								margin-right: 5px;
								font-size: ($base-font-size * 0.9);
								pointer-events: none;

								&.pink {
									color:$pink-1;
									border-color:$pink-1;
								}

								&.orange {
									color:$orange-1;
									border-color:$orange-1;
								}

								&.teal {
									color:$teal-1;
									border-color:$teal-1;
								}

								&.red {
									color:$red-1;
									border-color:$red-1;
								}

								&.yellow {
									color:$yellow-1;
									border-color:$yellow-1;
								}

								&.green {
									color:$green-1;
									border-color:$green-1;
								}
							}

							.button {
								position:absolute;
								left:0;

								bottom:30px;
								margin:0 auto;
								color: #737373;
								background-color:$white;
								padding:10px 20px;
								@include border-radius(5px);
								@include gpuAccelerate(opacity);

								font-weight: $font-weight-light;
								font-size: 14px;
								line-height: 14px;

								@include fadeButton($grey-2, all);
							}
						}
					}
				}
			}
		}
	}

	@import 'partials/orb';
}
