

 .clients
,.clients-header {
  overflow: hidden;
	padding: 40px 0;
	background-color:$grey-4;
	text-align: center;
}

.clients-header {
  background-color: $grey-1;
  padding-bottom:160px;

  @media #{$xsmall-only}, #{$small-only}, #{$medium-only} {
    padding-bottom:200px;
  }

  @media #{$large-only} {
    padding-bottom:170px;
  }

  .inner-clients-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include gpuAccelerate($property: all, $noTranslate: 'true');
    @include transition-this(top, 0.3s, linear);

    @media #{$xsmall-only}, #{$small-only}, #{$medium-only}, #{$large-only} {
      width: 90%;
    }

    h1 {
  		color: $white;
  		font-size: 48px;
  		line-height: 48px;
  		font-weight: $font-weight-light;

      @media #{$small-only}, #{$medium-only} {
        font-size: ($base-font-size * 1.5);
      }
  	}

    p {
      @media #{$small-only}, #{$medium-only} {
        font-size: ($base-font-size * 1.0);
      }
    }
  }
}

.clients {
	@include gpuAccelerate(opacity);
	@include transition-this(opacity, 0.3s, ease-in);
	@include opacity(0, 0);
	background-color:$grey-4;

	&.hide {
		@include opacity(0, 0);
	}

	&.show {
		@include opacity(100, 1);
	}

	ul {
		list-style:none;

		li {
			float:left;
			height:100px;
			position:relative;

			a {
				display:block;
				width:100%; height:100%;
			}

			.logo {
				position:absolute;
				left:50%; top:0;
				width:100%; height:100px;
				max-width:236px;
				@include translateX(-50%);

				background-image:url(/images/shared/clients-sprite-sheet.jpg);
				background-position:0 0;
			}

			&:link,
			&:visited {
				background-image:url(/images/shared/clients-sprite-sheet.jpg);
				background-position:0 0;
			}

			&:hover {
				.logo {
					//background-position:-236px 0;

					&.no-change {
						background-position:0 0;
					}
				}
			}

			$logos: (
         'castrol'
        ,'microsoft'
        ,'rb'
        ,'rolls-royce'
        ,'viacom'
        ,'orange'
        ,'siemens'
        ,'unilever'
      );

			@each $logo in $logos {
			  $idx: index($logos, $logo);
			  &[ref="#{$logo}"] {.logo {background-position:0 ($idx * -100px);}}
			  &:hover[ref="#{$logo}"] {.logo {background-position:-236px ($idx * -100px);}}
			}

			@media #{$small-only} {
				.logo {
					width:160px;
					height:68px;
					// background-size: 320px 1085px;
					background-size: 320px 544px;
				}

				@each $logo in $logos {
					$idx: index($logos, $logo);

					&[ref="#{$logo}"] {
						.logo {
							background-position:0 ($idx * -68px);
						}
					}

					&:hover[ref="#{$logo}"] {
						.logo {
							background-position:-160px ($idx * -68px);

							&.no-change {
								background-position:0 ($idx * -68px);
							}
						}
					}
				}
			}
		}
	}
}
