// Variables
$background: #151515;
$font-color: #fff;
$spinner-color: $font-color;
$border-size: 6px;

// Animation
@-webkit-keyframes spin {
    100% {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
} 

/* Standard syntax */ 
@keyframes spin {
    100% {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

// Styles
.loader {

	$width:20px;
	$height:20px;
	
	position:absolute;
	border: $border-size solid $spinner-color;
	border-right-color: transparent;
	border-radius: 50%;
	display: inline-block;
	width: $width;
	height: $height;
	
	top: calc(50% - (#{$width} / 2));
	-moz-top: calc(50% - (#{$width} / 2));
	-webkit-top: calc(50% - (#{$width} / 2));
	left: calc(50% - (#{$height} / 2));
	-moz-left: calc(50% - (#{$height} / 2));
	-webkit-left: calc(50% - (#{$height} / 2));
	
	-webkit-animation: spin 0.75s linear infinite;
    -moz-animation: spin 0.75s linear infinite;
    animation: spin 0.75s linear infinite;

	&.large {
	
		$width:40px;
		$height:40px;
		width: $width;
		height: $height;
		
		top: calc(50% - (#{$width} / 2));
		-moz-top: calc(50% - (#{$width} / 2));
		-webkit-top: calc(50% - (#{$width} / 2));
		left: calc(50% - (#{$height} / 2));
		-moz-left: calc(50% - (#{$height} / 2));
		-webkit-left: calc(50% - (#{$height} / 2));
	}
	
	// Default to standard gif for < IE10
	&.lt-ie10 {
		margin: 0 0 -2px;
		background: url("/images/shared/loading.gif") center center no-repeat;
		-webkit-animation: none;
		-moz-animation: none;
		animation: none;
		border: none;
		width: 16px;
		height: 16px;
	}

}