@import '../fonts';
@import '../functions';
@import '../variables';

// CUI Variables
$cornerRadius:10px;
$cuiTextColour: rgba(255,255,255,0.3);;
$userTextColour: rgba(163,93,181,0.3);

@mixin blurAfter() {
  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0; left:0; right:0; bottom:0;
    background: inherit;
    filter: blur(5px);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: url(#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
  }
}

#conversation_ui {
  font-family: $font-family-cui-regular;
  width:100vw;
  height:100vh;
  min-height:5rem;
  padding-bottom: 12rem;
  overflow: visible;

  *{
    &.no-padding {
      padding:0 !important;
    }

    &.max-width {
      max-width: 60%;

      @media #{$small-and-medium-only} {
        &.full-max-width-mobile {
          max-width: 100%;
        }
      }
    }

    &.lift-up-header {
      position: absolute;
      z-index: 1;
    }
  }

  #cui_header {

    .logo {
      position: absolute;
      float: left;
      height: 70px;
      z-index: 20;
      transform-origin: top;
    }

    .logo-text {
      position: absolute;
      display: block;
      overflow: hidden;
      width: 300px;
      height: 39px;
      top: 4rem;
      left: 2.2rem;

      img.logo-text {
        position: static;
        width: auto;
        transform: translatex(20%);
      }
    }

    .cui-menu {
      position: absolute;
      width: 30px;
      right: 0;
      cursor: pointer;
      @include opacity(0, 0.0);
    }
  }

  .cui-block {
    position: absolute;
    overflow: hidden;
    bottom: 0;
  }

  .cui_inner {
    position: relative;
    @include box-border-sizing();
    padding:1rem;

    &.display-inline {
      display: inline-block;
    }
  }

  .inner-cui {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 14rem;
    overflow-y: scroll;
    max-height: 90vh;
    margin-right: -2rem;
    padding-right: 2rem;
    padding-top:2rem

    ;
  }

  #text_block,
  #loading_cui_text,
  #button_group {
    color:$white;
  }

  #text_block {
    @include gpuAccelerate();
    @include transition-this(all, 0.2s, ease-in-out);

    &.cui-transform {
      transform-origin: 0 0;
    }

    &.user-transform {
      transform-origin: 100% 0;
    }

    .cui-wrap {
      text-align: left;
      padding: 0.7rem;
      border-top-left-radius: 0px;
      border-top-right-radius: $cornerRadius;
      border-bottom-right-radius: $cornerRadius;
      border-bottom-left-radius: $cornerRadius;
      background-color:$cuiTextColour;
      @include opacity(1, 1.0);

      // @include blurAfter();

      p {
        margin: 0;
      }
    }
    .user-wrap {
      text-align: right;
      text-align: left;
      padding: 0.7rem;
      border-top-left-radius: $cornerRadius;
      border-top-right-radius: 0px;
      border-bottom-right-radius: $cornerRadius;
      border-bottom-left-radius: $cornerRadius;
      background-color:$userTextColour;
      @include opacity(1, 1.0);

      // @include blurAfter();

      p {
        margin: 0;
      }
    }
  }

  #loading_cui_text {
    padding-bottom: -1rem;

    @-webkit-keyframes jump {
      0%{
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
      }
      20%{
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
      }
      40%{
    	-webkit-transform: translateY(-10px);
    	transform: translateY(-10px);
      }
      50%{
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
      }
      60%{
    	-webkit-transform: translateY(-5px);
    	transform: translateY(-15px);
      }
      80%{
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
      }
      100%{
    	-webkit-transform: translateY(0);
    	transform: translateY(0);
      }
    }

    @keyframes jump {
      0%{
    	transform: translateY(0);
      }
      20%{
    	transform: translateY(0);
      }
      40%{
    	transform: translateY(-10px);
      }
      50%{
    	transform: translateY(0);
      }
      60%{
    	transform: translateY(-5px);
      }
      80%{
    	transform: translateY(0);
      }
      100%{
    	transform: translateY(0);
      }
    }

    .loading-block {
      display: inline-block;
      position: absolute;
      left: 1rem;
      top: -3rem;
      line-height: 0.9rem;
      padding:0.3rem;
      border:1px solid $white;
      color: $white;
      width:auto;
      height:auto;
      float: left;
      @include border-radius(10px);
      -webkit-animation: jump 1.5s ease 0s infinite normal;
      animation: jump 1.5s ease 0s infinite normal;

      ul {
        list-style-type: none;

        li {
          font-family: $font-family-sans-serif;
          font-size: 2rem;
          line-height: 1.5rem;
          display: inline-block;
          float: left;
        }
      }
    }
  }

  #button_group {
    border-top:1px $white solid;
    min-height: 7rem;

    ul {
      display: inline-block;
      list-style-type: none;
      li {
        font-size: 2rem;
        display: inline-block;
        // float: left;
        @include box-border-sizing();
        padding:0.5rem;
      }
    }

    button {
      padding: 1rem 1.2rem;
      font-size: 1rem;
      border-radius: $cornerRadius;
      background-color:$userTextColour;
      color:$white;
      cursor: pointer;
      border: 0;
      border-width: 0;
      outline-width: 0;
    }

    .inputWrap {
      position: absolute;
      top: -4rem;
      width: 100%;
      left: 50%;
      @include translateX();

      span {

        &:after {
          position: absolute;
          content:'';
          background: url(/images/cui/submit-icon.png);
          background-size: 100%;
          width:3rem;
          height:3rem;
          right: 0;
          top: 0;
          cursor: pointer;
        }
      }
    }

    input {
      font-family: $font-family-sans-serif;
      font-size: 1.5rem;
      padding:0.5rem 1rem;

      &.inputField {
        width:100%;
        background: transparent;
        border: 0;
        border-width: 0;
        outline-width: 0;
        color:$white;
      }
    }
  }

  .cui-link {
    padding: 1rem 1.2rem;
    font-size: 1rem;
    border-radius: $cornerRadius;
    background-color:$userTextColour;
    color:$white;
    cursor: pointer;
    border: 0;
    border-width: 0;
  }

  .cui-bottom-section {
    position: absolute;
    bottom:0;
    width:100%;
  }
}

.down-arrow {
  display: none;
}

header .black-out-layer {
  background-color: rgba(0, 0, 0, 0);
}
