.header-video-controls {

	position: absolute;
	display: table;
	bottom: 10px;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	@include box-border-sizing();

	.play-header,
	.back-header,
	.mute-header {
		position: relative;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 50px;
		height: 50px;
		margin: 0 auto;
		background-color: transparent;
		background: url(/images/shared/play_white.png);
		background: url(/images/shared/play_white.svg);
		background-repeat: no-repeat;
		cursor: pointer;
		z-index: 2;

		@include gpuAccelerate(opacity);
		@include transition-this(opacity, 0.3s, ease-in);
		@include opacity(100, 1.0);

		&.hide {
			@include opacity(0, 0.0);
		}
	}

	.play-header {
		background: url(/images/shared/play_white.png);
		background: url(/images/shared/play_white.svg);
		background-repeat: no-repeat;
		background-position: 50%;
		bottom: 100px;
		width: 80px;
		height: 80px;
		margin: 0;

		@media #{$small-only} {
			bottom: 50px;
			width: 50px;
			height: 50px;
		}

		@media #{$medium-only} {
			bottom: 50px;
			width: 60px;
			height: 60px;
		}
	}

	.back-header {
		background: url(/images/shared/back_white.png);
		background: url(/images/shared/back_white.svg);
		background-repeat: no-repeat;
		background-position: 5%;
		margin: 0;
	}

	.mute-header {
		background: url(/images/shared/mute_white.png);
		background: url(/images/shared/mute_white.svg);
		background-repeat: no-repeat;
		background-position: 95%;
		background-size: 40px 40px;
		margin: 0;

		&.unmute {
			background: url(/images/shared/unmute_white.png);
			background: url(/images/shared/unmute_white.svg);
			background-repeat: no-repeat;
			background-position: 95%;
			background-size: 40px 40px;
		}
	}

	@media #{$small-height-only}, #{$medium-height-only} {

		.play-header {
			bottom: 20px;
			background-size: 30px 30px;
			background-position: 20%;

			@media #{$large-up} {
				bottom: 5px;
				background-size: 50px 50px;
			}

			@media #{$medium-only} {
				bottom: -15px;
				width: 60px;
				height: 60px;
				background-position: 30%;
			}

			@media #{$small-only} {
				bottom: 50px;
				width: 50px;
				height: 50px;
				background-position: 50%;

				@media #{$small-height-only} {
					bottom: -10px;
					left: -40px;
					width: 12px;
					height: 12px;
					background-position: 0px;
				}
			}
		}

		.back-header {
			bottom: -10px;
			background-size: 60px 60px;
			background-position: 5%;
		}

		.mute-header {
			bottom: -10px;
			background-size: 30px 30px;
			background-position: 95%;

			&.unmute {
				background-size: 30px 30px;
			}
		}
	}
}

.nav,
.we-are-block,
.down-arrow,
.black-out-layer {

	@include gpuAccelerate(opacity);
	@include transition-this(opacity, 0.3s, ease-in);
	@include opacity(100, 1.0);

	&.hide {
		@include opacity(0, 0.0);
	}
}

.hide {
	@include opacity(0, 0.0);
}
