$orbCirc: 10px;
$orbRadius: ($orbCirc / 2);
$orbTop: ($orbRadius / 2);

.orb-wrap {

	position: relative;
	width:100%;
	height:auto;
	margin-top:20px;
	float:left;

	&.absolute-bottom {

		position: absolute;
		background:rgba(0,0,0,0.3);
		height: 30px;
		bottom: 0;
		margin: 0;
		float:none;
		z-index: 100;

		li {
			margin-top: $orbTop;
		}

		ul {
			display:block;
			margin:0;
			padding:0;
			width:100%;
			height:100%;

			li {
				display: inline-block;
				@include border-radius($orbRadius);
				border:0px solid #fff;
				background:rgba(255,255,255,0.5);
				width:$orbCirc;
				height:$orbCirc;
				margin-left:10px;
				margin-right:10px;
				cursor: pointer;
				transition: .2s ease-out;
				@include box-border-sizing();

				&:hover {
				//	border:3px solid #fff;
				}

				&.filled {
					background:rgba(255,255,255,1);
				}
			}
		}

	}

	&.black-orbs {

		ul {

			li {
				border:0px solid #000;
				background:rgba(0, 0, 0, 0.5);

				&:hover {
					border:3px solid #000;
				}

				&.filled {
					background:rgba(0, 0, 0, 1);
				}
			}
		}
	}

	&.no-orb-background {
		background:transparent;
	}
}
