@import '../functions';
@import '../variables';

.grid-wall {

	@include float-both();
	width:100%;
	max-width:2600px;
	position:relative;

	@media #{$xxlarge-up} {
		left:50%;
		@include translateX(-50%);
	}

	// Our sizing shims

	.bg-8x4,
	.bg-7x5,
	.bg-6x6,
	.bg-5x7,
	.bg-4x9,
	.bg-3x12,
	.bg-2x18,
	.bg-1x20 {
		@include float-both();
		width:100%;
		display:none;
	}

	.bg-8x4 {
		// @media #{$xxlarge-up} {
		@media only all and (min-width: 1482px) {
			display:block;
		}
	}

	.bg-7x5 {
		@media only screen and (max-width: 1481px) and (min-width: 961px) {
		// @media #{$xlarge-only} {
			display:block;
		}
	}

	.bg-6x6 {
		@media #{$large-only} {
			display:block;
		}
	}

	//.bg-4x9 {
	//	@media #{$large-only} {
	//		display:block;
	//	}
	//}

	.bg-3x12 {
		@media #{$medium-only} {
			display:block;
		}
	}

	.bg-2x18 {
		@media #{$small-not-xsmall} {
			display:block;
		}
	}

	.bg-1x20 {
		@media #{$xsmall-only} {
			display:block;
		}
	}

	// Our grid wall items

	.item {
		position:absolute;
		@include transition-left-top(0.3s, linear);
		overflow:hidden;

		img {
			position:absolute;
			left:0; top:0;
			width:100%!important;

			&.alt {
				display:none;
			}

			&.overlay {
				left:100%;
			}
		}

		.btn {
			display:block;
			position:absolute;
			left:0; top:0; right:0; bottom:0;
			background-color: rgba(255,255,255,0);
		}
	}


	// @media #{$xxlarge-up} {
	@media only all and (min-width: 1482px) {
		@for $i from 1 through 8 {
			.cw#{$i} {width:(100% / 8 * $i);}
			.xxlc#{$i} {left:(100% / 8 * ($i - 1));}
			.xxlcw#{$i} {width:(100% / 8 * $i)!important;}
		}

		@for $i from 1 through 4 {
			.ch#{$i} {height:(100% / 4 * $i);}
			.xxlr#{$i} {top:(100% / 4 * ($i - 1));}
			.xxlch#{$i} {height:(100% / 4 * $i)!important;}
		}
	}

	// @media #{$xlarge-only} {
	@media only screen and (max-width: 1481px) and (min-width: 961px) {
		@for $i from 1 through 7 {
			.cw#{$i} {width:(100% / 7 * $i);}
			.xlc#{$i} {left:(100% / 7 * ($i - 1));}
			.xlcw#{$i} {width:(100% / 7 * $i)!important;}
		}

		@for $i from 1 through 5 {
			.ch#{$i} {height:(100% / 5 * $i);}
			.xlr#{$i} {top:(100% / 5 * ($i - 1));}
			.xlch#{$i} {height:(100% / 5 * $i)!important;}
		}

		.item.xlalt {
			img {
				&.overlay {
					display:none;
				}

				&.xlalt {
					display:block;
					&.overlay {
						display:block;
					}
				}
				&.regular {
					display:none;
				}

			}
		}
	}

	@media #{$large-only} {
		@for $i from 1 through 6 {
			.cw#{$i} {width:(100% / 6 * $i);}
			.lc#{$i} {left:(100% / 6 * ($i - 1));}
			.lcw#{$i} {width:(100% / 6 * $i)!important;}
		}

		@for $i from 1 through 6 {
			.ch#{$i}  {height:(100% / 6 * $i);}
			.lr#{$i}  {top:(100% / 6 * ($i - 1));}
			.lch#{$i} {height:(100% / 6 * $i)!important;}
		}

		.item.lalt {
			img {
				&.overlay {
					display:none;
				}

				&.lalt {
					display:block;
					&.overlay {
						display:block;
					}
				}
				&.regular {
					display:none;
				}

			}
		}
	}

	@media #{$medium-only} {
		@for $i from 1 through 3 {
			.cw#{$i} {width:(100% / 3 * $i);}
			.mc#{$i} {left:(100% / 3 * ($i - 1));}
			.mcw#{$i} {width:(100% / 3 * $i)!important;}
		}

		@for $i from 1 through 12 {
			.ch#{$i} {height:(100% / 12 * $i);}
			.mr#{$i} {top:(100% / 12 * ($i - 1));}
			.mch#{$i} {height:(100% / 12 * $i)!important;}
		}

		.item.malt {
			img {
				&.overlay {
					display:none;
				}

				&.malt {
					display:block;
					&.overlay {
						display:block;
					}
				}
				&.regular {
					display:none;
				}

			}
		}
	}

	@media #{$small-not-xsmall} {
		@for $i from 1 through 2 {
			.cw#{$i} {width:(100% / 2 * $i);}
			.sc#{$i} {left:(100% / 2 * ($i - 1));}
			.scw#{$i} {width:(100% / 2 * $i)!important;}
		}

		@for $i from 1 through 18 {
			.ch#{$i} {height:(100% / 18 * $i);}
			.sr#{$i} {top:(100% / 18 * ($i - 1));}
			.sch#{$i} {height:(100% / 18 * $i)!important;}
		}

		.item.salt {
			img {
				&.salt {
					display:block;
				}
				&.regular {
					display:none;
				}
			}
		}
	}

	@media #{$xsmall-only} {

		.cw1 {width:100%;}
		.cw2 {width:100%;}

		.xsc1 {left:0;}

		.ch1 {height:(100% / 20);}
		.ch2 {height:(100% / 20);}

		@for $i from 1 through 20 {
			.xsr#{$i} {top:(100% / 20 * ($i - 1));}
		}

		.item.xsalt {
			img {
				&.xsalt {
					display:block;
				}
				&.regular {
					display:none;
				}
			}
		}
	}
}
