.quotes {
	position:relative;
	@include transition-this(height, 0.3s, ease-out);

	.quote {
		position:absolute;
		top:60px; bottom:60px;

		@media #{$small-and-medium-only} {
			top:80px; bottom:80px;
		}

		&.transition {
			@include transition-this(opacity, 0.3s, ease-out);
		}

		p {
			position:relative;
			font-weight: $font-weight-light;
			font-size: 32px;
			line-height: 34px;
			color:$grey-3;
			margin:0;

			@media #{$small-only} {
				font-size: 24px;
				line-height: 26px;
			}

			&.name {
				font-size: 16px;
				line-height: 16px;
				text-align:right;
				margin-top:5px;

				@media #{$small-and-medium-only} {
					text-align:left;
				}
			}

			.ql, .qr {
				position:absolute;
				width:49px; height:32px;
			}

			.ql {
				left: -(49px + 16px);
				top:8px;

				@media #{$small-and-medium-only} {
					left:0;
					top:-52px;
				}
			}

			.qr {
				right: -(49px + 16px);
				bottom:4px;

				@media #{$small-and-medium-only} {
					right:0;
					bottom:-72px;
				}
			}
		}

		&.invisible {
			@include opacity(0, 0);
		}
	}
}