@import '../functions';

.image-slider {
  position:relative;
  height:300px;
  color:black;
  background-color: rgba(0,0,0,0.3);

  .image-slider-image-before {
    position: absolute;
    top:0; right:50px; bottom:0; left:0;
    background-color: rgba(0,0,0,0.3);
  }

  .image-slider-image-after {
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0,0,0,0.3);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: black;
  }

  .drag-control {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-appearance: none;
    appearance: none;

    outline-width: 0px;
    outline: none;

    position: absolute;
    background-color: rgba(0,0,0,0.3);
    background: url(/images/shared/slider-btn.png);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    width:50px; height:50px;
    cursor:pointer;
    @include border-radius(50%);
    @include translateXY();
  }
}
