@import '../../functions';
@import '../../variables';

.tag {
  display:inline-block;
  font-size: 14px;
  font-weight:$font-weight-light;
  line-height: 16px;
  padding:3px 20px;
  @include border-radius(10px);
  border:1px $grey-1 solid;

  &:hover {
    opacity:0.75;
  }
}

.tag.pink {
  color:$pink-1;
  border-color:$pink-1;
}

.tag.orange {
  color:$orange-1;
  border-color:$orange-1;
}

.tag.teal {
  color:$teal-1;
  border-color:$teal-1;
}

.tag.red {
  color:$red-1;
  border-color:$red-1;
}

.tag.yellow {
  color:$yellow-1;
  border-color:$yellow-1;
}

.tag.green {
  color:$green-1;
  border-color:$green-1;
}

.tag.purple-3 {
  color:$purple-3;
  border-color:$purple-3;
}
