/* --------------------------
  Keyframes
--------------------------- */
@keyframes phaze {
	0% {
		opacity: 0;
	}

	50% {
    opacity: 1;
	}

	100% {
    opacity: 0;
	}
}

/* --------------------------
  Styling
--------------------------- */
.typed-wrap {
  color: black;
  text-align: center;

  h1 {
    font-weight: normal;
    font-size:($base-font-size * 2.6);
    line-height: 1.5em;

		@media #{$medium-only} {
			font-size:($base-font-size * 2.0);
		}

		@media #{$small-only} {
			font-size:($base-font-size * 1.3);
		}
  }

  .typed-text {
		font-family:$font-family-alternate-sans-serif;
    font-weight: 900;
  }

  .blink {
    animation: phaze 1.1s ease-out infinite;
  }
}
