@import '../../main/fonts';
@import '../../main/variables';
@import '../../main/functions';

[v-cloak] > * { display:none; }

[v-cloak]::before { display:none;}

ul.breadcrumbs {
  li {
    line-height: 2rem !important;

    &.layout-status {
      float: right;

      &:after,
      &:before {
        content:'';
      }
    }
  }
}

// THEME CHECKBOX
.theme {
  margin: 2rem 0rem;
  @include lovelyCheckbox();

  input[type="checkbox"].checkbox-style:not(:checked) + label,
  input[type="checkbox"].checkbox-style:checked + label {
    width:40px;
    height:20px;
    margin-right: 0rem;
  }

  input[type="checkbox"].checkbox-style:not(:checked) + label:before,
  input[type="checkbox"].checkbox-style:checked + label:before {
    left: 10px;
    width: 22px;
    height: 22px;
  }

  input[type="checkbox"].checkbox-style:not(:checked) + label:after,
  input[type="checkbox"].checkbox-style:checked + label:after {
    left: 13px;
    width: 16px;
    height: 16px;
    background-color: $grey2;
  }

  span {
    display: inline;
  }

  .theme-state {
    margin-left: 1rem;
  }
}


#alertModalSuccess,
#alertModalFail {
  min-height: auto !important;
  text-align: center;

  i {
    &.icon2-ok-circled:before {
      color:$success-color;
      vertical-align: middle;
      font-size: 4rem;
      margin: 0;
    }
    &.icon2-cancel-circled:before {
      color:$alert-color;
      vertical-align: middle;
      font-size: 4rem;
      margin: 0;
    }
  }

  h2.success {
    color:$success-color;
  }

  h2.fail {
    color:$alert-color;
  }
}

#casestudy_cms,
#carousel_wrap {

  .section-block {
    padding:1rem;
  }

  .ul-case-study,
  .ul-carousel {
    list-style: none;

    li.section-li,
    li.carousel-li {
      line-height: 2rem;
      cursor:pointer;
      margin-top: 1rem;
      border:1px solid $grey2;
      padding: 0;

      input[type=text] {
        font-size: 1rem;
      }

      &:last-child {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    li.carousel-li {
      img {
        width: 200px;
        height: 150px;
      }
    }
  }

  hr {
    margin:0;
  }

  .line-height-4-rem {
    line-height: 4rem;
  }

  .static-section {
    background-color: $grey1;
    border:1px solid $grey2;
    // @include border-radius(10px);
  }

}

.stat-image {
  max-width: 500px;
  width:100%;
}

.black-backing {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 500px;
  width:100%;
  background-color: black;
  top: 0;
  z-index: -1;
}

#header_wrap,
.edit-video-wrap {

  input[type="text"] {

    &::placeholder {
      color: lighten(#000, 70%);
    }
    &::-webkit-input-placeholder {
      color: lighten(#000, 70%);
    }
    &::-moz-placeholder {
      color: lighten(#000, 70%);
    }
    &:-ms-input-placeholder {
      color: lighten(#000, 70%);
    }
    &:-moz-placeholder {
      color: lighten(#000, 70%);
    }
  }
}



.cms-img-wrap {
  margin-bottom:1rem;
}

.cms-update-button-wrap {
  margin-top:2rem !important;
}

label.icon-upload {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: teal;
  color: white;
  font-weight: normal;
}

input[type=file] {
  position: absolute;
  height: 0.1rem;
  visibility: hidden;
}

.button {
  &.disabled {
    background-color: grey;
    // pointer-events: none;
    cursor:not-allowed;

    &:hover {
      background-color: grey;
    }
  }
}

.mceContentBody {
   color: black !important;
}

.margin-bottom-1-rem {
  margin-bottom: 1rem !important;
}

.margin-top-0_5-rem {
  margin-top: 0.5rem !important;
}

.text-align-right {
  text-align:right;
}

.text-align-left {
  text-align:left;
}

// Transition for draggable
.list-complete,
.list-complete-enter-active,
.list-complete-item  {
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.55,0,.1,1);
  transform-origin: center center;

  &:hover {
    box-shadow: 3px 3px 20px lighten(#888888, 30%);
    // background-color: lighten(yellow, 30%);
  }
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.thin {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
