// RANGES
// We use these functions to define ranges for various things, like media queries.
@function lower-bound($range) {
	@if length($range) <= 0 {
		@return 0;
	}
	@return nth($range,1);
}

@function upper-bound($range) {
	@if length($range) < 2 {
		@return 999999999999;
	}
	@return nth($range, 2);
}

@mixin transition-height($speed:0.3s, $ease:ease-in-out) {
	-webkit-transition: height $speed $ease;
	-moz-transition: height $speed $ease;
	-ms-transition: height $speed $ease;
	-o-transition: height $speed $ease;
	transition: height $speed $ease;
}

@mixin transition-left($speed:0.3s, $ease:ease-in-out) {
	-webkit-transition: left $speed $ease;
	-moz-transition: left $speed $ease;
	-ms-transition: left $speed $ease;
	-o-transition: left $speed $ease;
	transition: left $speed $ease;
}

@mixin transition-right($speed:0.3s, $ease:ease-in-out) {
	-webkit-transition: right $speed $ease;
	-moz-transition: right $speed $ease;
	-ms-transition: right $speed $ease;
	-o-transition: right $speed $ease;
	transition: right $speed $ease;
}

@mixin transition-left-top($speed:0.3s, $ease:linear) {
	-webkit-transition-property: top, left;
	-moz-transition-property: top, left;
	-ms-transition-property: top, left;
	-o-transition-property: top, left;
	transition-property: top, left;

	-webkit-transition-duration: $speed, $speed;
	-moz-transition-duration: $speed, $speed;
	-ms-transition-duration: $speed, $speed;
	-o-transition-duration: $speed, $speed;
	transition-duration: $speed, $speed;

	-webkit-transition-timing-function: $ease, $ease;
	-moz-transition-timing-function: $ease, $ease;
	-ms-transition-timing-function: $ease, $ease;
	-o-transition-timing-function: $ease, $ease;
	transition-timing-function: $ease, $ease;
}

@mixin transition-margin($speed:0.3s) {
	-webkit-transition: margin $speed ease-in-out;
	-moz-transition: margin $speed ease-in-out;
	-ms-transition: margin $speed ease-in-out;
	-o-transition: margin $speed ease-in-out;
	transition: margin $speed ease-in-out;
}

/**
 * Foundation Mixins
 */
@mixin gpuAccelerate($property: all, $noTranslate: 'false') {

	will-change: #{$property};
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

	@if $noTranslate == 'false' {
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate(0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0, 0, 0);
	}
}

@mixin transition-this($type:all, $speed:0.3s, $ease:linear) {
	-webkit-transition: $type $speed $ease;
	-moz-transition: $type $speed $ease;
	-ms-transition: $type $speed $ease;
	-o-transition: $type $speed $ease;
	transition: $type $speed $ease;
}

@mixin box-border-sizing() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin rotate-element($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin clear-spacing() {
	left: initial;
	right: initial;
	top: initial;
	bottom: initial;
	margin: 0;
	padding: 0;
}

@mixin float-both() {
	float: left;
	clear: both;
}

@mixin border-radius($px:10px) {
	-webkit-border-radius: $px;
	border-radius: $px;
}

@mixin translateX($amount:-50%) {
	will-change: transform;
	-moz-transform: translateX($amount);
	-webkit-transform: translateX($amount);
	-o-transform: translateX($amount);
	-ms-transform: translateX($amount);
	transform: translateX($amount);
}

@mixin translate3D($x,$y,$z) {
	-webkit-transform: translate3d($x,$y,$z);
	-moz-transform: translate3d($x,$y,$z);
	-o-transform: translate3d($x,$y,$z);
	-ms-transform: translate3d($x,$y,$z);
	-ms-transform: translate($x,$y); /* IE 9 */
	transform: translate3d($x,$y,$z);
}

@mixin translateY($amount:-50%) {
	will-change: transform;
	-moz-transform: translateY($amount);
	-webkit-transform: translateY($amount);
	-o-transform: translateY($amount);
	-ms-transform: translateY($amount);
	transform: translateY($amount);
}

@mixin translateXY($amountX:-50%, $amountY:-50%) {
	will-change: transform;
	-moz-transform: translateX($amountX) translateY($amountY);
	-webkit-transform: translateX($amountX) translateY($amountY);
	-o-transform: translateX($amountX) translateY($amountY);
	-ms-transform: translateX($amountX) translateY($amountY);
	transform: translateX($amountX) translateY($amountY);
}

@mixin opacity($int, $float) {
	-ms-filter:		"progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
	filter:			alpha(opacity=$int);
	-moz-opacity:	$float;
	-khtml-opacity: $float;
	opacity:		$float;
}

@mixin gradient($deg, $col1, $col2) {
	background: -webkit-linear-gradient($deg, $col1, $col2);
	background: -o-linear-gradient($deg, $col1, $col2);
	background: -moz-linear-gradient($deg, $col1, $col2);
	background: linear-gradient($deg, $col1, $col2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}

@mixin rotate($deg) {
	-ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: -moz-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin centreContent($width) {
	@media #{$xxlarge-up-plus} {
		margin: 0 auto !important;
		width: $width !important;
		float: none !important;
	}
}

@mixin noSelect() {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

@mixin ignoreiOSStyling() {
	-webkit-appearance: none;
	-moz-appearance: none;
}

@mixin retinaSpawn($dir, $type) {

	// Case study carousel backgrounds
	$page_ref_backgrounds: (
		 ('microsoft-social-engagement', 1)
		,('castrol-presentation', 1)
		,('entertainment-one-brand-toolkits', 1)
		,('sungard-animated-looping-presentation', 0)
		,('sungard-presentation', 1)
		,('article10-bees', 1)
		,('old-uppinghamian-website-redesign', 2)
		,('stoli-app-design', 4)
		,('steljes-interactive-experience', 0)
		,('openbet-website-redesign', 3)
		,('thre-tablet-presentation', 2)
		,('thre-real-estate-exhibition-design', 4)
		,('thre-real-estate-office-environments', 4)
		,('omni-channel', 0)
		,('etf-advert', 4)
		,('etf-torino-process', 7)
		,('future-decoded', 0)
		,('stoli-video-production', 0)
		,('steljes-interactive-experience', 0)
		,('bdp-exhibition-design', 3)
		,('thor-exhibition-design', 5)
		,('mail-online', 3)
		,('mail-online-exhibition-design', 3)
		,('microsoft-universities', 0)
		,('mipim-exhibition-design', 5)
		,('aarhus', 3)
		,('kfc-people-promise', 0)
		,('microsoft-mva', 0)
	);

	@each $pageref in $page_ref_backgrounds {

		@if $type == 'header' {
			div.#{nth($pageref,1)}-#{$type} {
				@include at2x('/images/#{$dir}/#{nth($pageref,1)}/#{nth($pageref,1)}-#{$type}', jpg);
				background-size: cover !important;
				@if nth($pageref,1) == 'etf-torino-process' {
					background-position-x: 20%;
				}
			}
		}

		@if $type == 'body' {
			@if nth($pageref,2) != 0 {
				@for $i from 1 through nth($pageref,2) {
					&.#{nth($pageref,1)}-#{$type}-#{$i} {
						@include at2x('/images/#{$dir}/#{nth($pageref,1)}/#{nth($pageref,1)}-parallax-#{$i}', jpg);
						background-size: cover !important;
					}
				}
			}
		}

		@if $type == 'body_still' {
			@if nth($pageref,2) != 0 {
				@for $i from 1 through nth($pageref,2) {
					&.#{nth($pageref,1)}-#{$type}-#{$i} {
						@include at2x('/images/#{$dir}/#{nth($pageref,1)}/#{nth($pageref,1)}-#{$i}', jpg);
					}
				}
			}
		}
	}

	.scroll-header-background {
		background-attachment:scroll !important;
	}
}

@mixin fadeButton($col, $type, $tint: darken, $color: #fff) {

	@include transition-this($type, 0.3s, ease-in-out);

	&:hover {
		@if $tint == 'darken' {
			background-color: darken($col, 20%);
		}
		@else {
			background-color: lighten($col, 20%);

			span {
				color:grey-1;
			}
		}

		color: $color;
	}
}

@mixin playButton($top: 0px, $left: 0px) {

	$topInt: (70px / 2);
	$leftInt: (100px / 2);

	button#play,
	button.play {
		position: absolute;
		background: transparent;
		width: 100px;
		height: 70px;
		top: 45%;
		left: 50%;
		border: 0;
		outline-width: 0;
		border-radius: .5em;
		background-color: $grey-2;
		cursor:pointer;
		z-index: 100;
		@include translateXY();

		&.verticle-center {
			top: 50%;
			transform: translateY(-50%) !important;
		}

		&.adjust-play-btn-top {
			$topInt: 60px;
			top: calc((50% - #{$topInt}));
		}

		&.hide-play-btn {
			display: none;
		}

		div.play-icon {
			width: 30px;
			height: 30px;
			margin: 0 auto;

			svg {
				outline-width:0;

				polygon {
					fill: white;
				}
			}
		}

		&:hover {
			background-color: #000;
		}

		@media #{$small-only} {
		//
			$top: 50px;
			$left: 70px;
		//
		// 	$topInt: ($top / 2);
		// 	$leftInt: ($left / 2);
		//
			width: $left;
			height: $top;
		// 	top: 45%;
		// 	@include calc(top, "(50% - #{$topInt})");
		// 	left: 45%;
		// 	@include calc(left, "(50% - #{$leftInt})");
		}
	}
}

@mixin pauseButton() {

	.pause-btn {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index:10;
	}
}

@mixin muteButton() {

	.mute-btn {
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: 50px;
		height: 50px;
		background-color: #f00;
		background: url(/images/shared/muteoff27.png);
		background: url(/images/shared/muteoff27.svg);
		background-size: 100%;
		cursor: pointer;
		z-index:20;

		@media #{$small-and-medium-only} {
			width: 30px;
			height: 30px;
		}

		&.unmute {
			background: url(/images/shared/muteon27.png);
			background: url(/images/shared/muteon27.svg);
			background-size: 100%;
		}

		&.push-right {
		    bottom: 5%;
			left: 5%;

			@media #{$small-and-medium-only} {
				bottom: 10%;
			}
		}

		&.push-up {
			bottom: 15%;
		}
	}
}

@mixin gradientLayer() {

	.black-out-gradient-layer {
		position: absolute;
		display: block;
		width: 100%;
		height: 300px;
		top: initial;
		left: 0;
		bottom: 0;
		right: 100%;
		@include gradient(0deg, $opacBlack1, $transparent);
	}
}


@mixin isIpad($scaleFactor: 1) {

	$thisWidth: ceil($ipad-width * $scaleFactor);

	&.is-ipad {
		background-image:url(/images/shared/interactive-ipad.png);
		background-repeat:no-repeat;
		width:$thisWidth;
		height:ceil($thisWidth * $ipad-ratio);
		background-size: $thisWidth ceil($thisWidth * $ipad-ratio);

		.screen {
			left: ceil($ipad-left * $scaleFactor);
			top: ceil($ipad-top * $scaleFactor);
			right: initial;
			width: $thisWidth - ceil($ipad-right * $scaleFactor);
			height: ($thisWidth * $ipad-ratio) - ceil($ipad-bottom * $scaleFactor);

			img.toScroll {}

			div.full-screen-height {
				padding-bottom: 0;
				height: 100%;
			}
		}
	}
}

/**
 * Retina mixin
 */
@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
	$at1x_path: "#{$path}.#{$ext}";
	$at2x_path: "#{$path}@2x.#{$ext}";

	background-image: url("#{$at1x_path}");

	@media all and (-webkit-min-device-pixel-ratio : 1.5),
		all and (-o-min-device-pixel-ratio: 3/2),
		all and (min--moz-device-pixel-ratio: 1.5),
		all and (min-device-pixel-ratio: 1.5) {
			background-image: url("#{$at2x_path}");
			background-size: $w $h;
	}
}

/**
 * Detect mobile landscape conditions and apply custom styling
 */
@mixin make_progress($property, $value){
	#{$property}: #{$value};
}

@mixin detectMobileLandscape($propArray) {

	@media screen and (min-width:0px) and (max-width:767px) and (orientation:landscape)  {
		@each $prop in $propArray {
			@include make_progress(nth($prop,1),nth($prop,2));
		}
	}
}

/**
 * Mixin for background image
 */
@mixin serviceBackgroundImage($name, $imageFile, $imageFile_1280) {

	.background-image-constraint-#{$name} {
		background: url(/images/services-motion-page/#{$imageFile});
		background-size: cover;
		background-position:50% 50% !important;
		overflow: hidden;

		@media only screen and (min-width: 2600px) {
			background: url(/images/services-motion-page/#{$imageFile});
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media only screen and (min-width: 1440px) and (min-width: 2599px) {
			background: url(/images/services-motion-page/#{$imageFile});
			background-size: cover;
			background-repeat: no-repeat;
		}

		@media #{$xlarge-only} {
			background: url(/images/services-motion-page/#{$imageFile});
			background-size: cover;
		}

		@media #{$large-only} {
			background: none;
		}

		@media #{$medium-only} {
			background: none;
		}

		@media #{$small-only} {
			background: none;
		}
	}
}

@mixin backgroundUrl($page) {

	// Image header backgrounds
	$header_background_image: (
		  ('home', '/images/mobile-header-images/mobile-header-home.jpg', '/images/home/home-page-showreel-thumbnail@0.3.jpg')
		 ,('about', '/images/mobile-header-images/mobile-header-about.jpg', '/images/about-landing-page/about-preload@0.3.jpg')
		 ,('projects', '/images/mobile-header-images/mobile-header-projects.jpg', '/images/projects-landing-page/projects-preload@0.3.jpg')
		 ,('presentation', '/images/mobile-header-images/mobile-header-presentation.jpg', '/images/services-presentation-page/presentation-landing-page-header@0.1.jpg')
	);

	$project_background_header: (
		 ('aarhus', '/images/mobile-header-images/mobile-header-aarhus.jpg', '/images/projects/aarhus/aarhus-header@0.3.jpg')
		,('bdp', '/images/mobile-header-images/mobile-header-bdp.jpg', '/images/projects/bdp-exhibition-design/bdp-exhibition-design-header@0.3.jpg')
		,('bees', '/images/mobile-header-images/mobile-header-bees.jpg', '/images/projects/article10-bees/bees-preload.jpg')
		,('castrol-presentation', '/images/mobile-header-images/mobile-header-castrol-presentation.jpg', '/images/projects/castrol-presentation/castrol-presentation-preload.jpg')
		,('castrol-prom', '/images/mobile-header-images/mobile-header-castrol-promotion.jpg', '')
		,('eone', '/images/mobile-header-images/mobile-header-eone.jpg', '/images/projects/entertainment-one-brand-toolkits/eone-preload.jpg')
		,('etf', '/images/mobile-header-images/mobile-header-etf.jpg', '')
		,('etf-torino', '/images/mobile-header-images/mobile-header-etf.jpg', '/images/projects/etf-torino-process/etf-torino-process-header@0.1x.jpg')
		,('fd-2015', '/images/mobile-header-images/mobile-header-fd-2015.jpg', '/images/projects/future-decoded-2015/future-decoded-preload@0.3.jpg')
		,('graduate', '/images/mobile-header-images/mobile-header-graduate.jpg', '/images/projects/microsoft-universities/microsoft-universities-header@0.3.jpg')
		,('mail-online', '/images/mobile-header-images/mobile-header-mail-online.jpg', '/images/projects/mail-online-exhibition-design/mail-online-exhibition-design-header@0.3.jpg')
		,('microsoft', '/images/mobile-header-images/mobile-header-microsoft.jpg', '/images/projects/microsoft-social-engagement/microsoft-preload.jpg')
		,('mipim', '/images/mobile-header-images/mobile-header-mipim.jpg', '/images/projects/mipim-exhibition-design/mipim-exhibition-design-header@0.3.jpg')
		,('ob', '/images/mobile-header-images/mobile-header-ob.jpg', '/images/projects/openbet-website-redesign/openbet-website-redesign-header@0.3.jpg')
		,('ou', '/images/mobile-header-images/mobile-header-ou.jpg', '/images/projects/old-uppinghamian-website-redesign/old-uppinghamian-website-redesign-header-assets/old-uppinghamian-website-redesign-header@2x.jpg')
		,('stoli', '/images/mobile-header-images/mobile-header-stoli.jpg', '/images/projects/stoli-video-production/stoli-preload@0.3.jpg')
		,('sungard', '/images/mobile-header-images/mobile-header-sungard.jpg', '/images/projects/sungard-presentation/sungard-preload.jpg')
		,('thre', '/images/projects/thre-real-estate-exhibition-design/thre-real-estate-exhibition-design-header.jpg', '/images/projects/thre-real-estate-exhibition-design/thre-real-estate-exhibition-design-header@0.3.jpg')
		,('thre-office', '/images/projects/thre-real-estate-office-environments/thre-real-estate-office-environments-header.jpg', '/images/projects/thre-real-estate-office-environments/thre-real-estate-office-environments-header@0.3.jpg')
	);

	@each $imageref in $header_background_image {

		@if nth($imageref,1) == $page {

			.#{$page}-background-image-pre {

				@media #{$small-only}, #{$medium-only}  {
					background-image: url(#{nth($imageref,2)}) !important;
					background-color: #000;
				}


				@media #{$large-up} {
					background-image: url(#{nth($imageref,3)}) !important;
					background-color: #000;
					background-size: cover !important;
					background-position: center !important;
					background-repeat: no-repeat;
				}
			}

			.#{$page}-background-image {

				@media #{$small-only}, #{$medium-only}  {
					background-image: url(#{nth($imageref,2)});
					background-color: transparent !important;
				}

				@media #{$large-up} {
					background-image: url(#{nth($imageref,3)});
					background-color: transparent !important;
				}
			}

		}
		// @include at2x('/images/#{$dir}/#{nth($imageref,1)}/#{nth($imageref,1)}-parallax-#{$i}', jpg);
	}

	@if $page == 'projects' {

		@each $projectimageref in $project_background_header {

			.#{nth($projectimageref,1)}-background-image-pre {

				@media #{$small-only}, #{$medium-only}  {
					background-image: url(#{nth($projectimageref,2)}) !important;
					background-color: #000;
				}

				@media #{$large-up} {
					background-image: url(#{nth($projectimageref,3)}) !important;
					background-color: #000;
					background-size: cover !important;
					background-position: center !important;
					background-repeat: no-repeat;
				}
			}

			.#{nth($projectimageref,1)}-background-image {

				@media #{$small-only}, #{$medium-only}  {
					background-image: url(#{nth($projectimageref,2)}) !important;
					background-color: transparent !important;
				}

				@media #{$large-up} {
					background-image: url(#{nth($projectimageref,3)}) !important;
					background-color: transparent !important;
				}
			}
		}
	}
}

@mixin lovelyCheckbox($class: 'checkbox-style') {

  input[type="checkbox"].#{$class}:not(:checked),
  input[type="checkbox"].#{$class}:checked {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"].#{$class}:not(:checked) + label,
  input[type="checkbox"].#{$class}:checked + label {
    position: relative;
    padding-right: 40px;
    cursor: pointer;
    padding-top: 4px;

    &.no:before {
      background: $white !important;
    }

    &.yes:before {
      background: $white !important;
    }
  }

  input[type="checkbox"].#{$class}:not(:checked) + label:before,
  input[type="checkbox"].#{$class}:checked + label:before {
    content: '';
    font-family: 'Wingdings';
    position: absolute;
    left: 31px; top: 2px;
    width: 30px; height: 30px;
    border: solid 1px $grey-7;
  }

  input[type="checkbox"].#{$class}:not(:checked) + label:after,
  input[type="checkbox"].#{$class}:checked + label:after {
    content: '';
    // background: url('vote-mark.png');
    background-color: $primary-color;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px; left: 34px;
    width:26px; height:26px;
    font-size: 18px;
    line-height: 0.8;
    color: black;
    transition: all .2s;
  }

  input[type="checkbox"].#{$class}:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  input[type="checkbox"].#{$class}:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
}
