// 12 column grid with spacing
.row {
	float:left; clear:both;
	width:(100% - $grid_sides);
	margin: 0 ($grid_sides / 2);

	.columns {
		position:relative;
		float:left;
		margin-left:($col_spacing / 2);
		margin-right:($col_spacing / 2);
		margin-bottom:1em;

		&.before-0 {margin-left:($col_spacing / 2);}
		&.after-0 {margin-right:($col_spacing / 2);}

		@for $i from 1 through $col_count {
			&.span-#{$i} {width:(($col_width * $i) - $col_spacing);}
			&.before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
			&.after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
		}


		@media #{$small-up} {
			&.small-up-before-0 {margin-left:($col_spacing / 2);}
			&.small-up-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.small-up-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.small-up-before-#{$i} {margin-left:($col_width * $i);}
				&.small-up-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$medium-up} {
			&.medium-up-before-0 {margin-left:($col_spacing / 2);}
			&.medium-up-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.medium-up-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.medium-up-before-#{$i} {margin-left:($col_width * $i);}
				&.medium-up-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$large-up} {
			&.large-up-before-0 {margin-left:($col_spacing / 2);}
			&.large-up-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.large-up-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.large-up-before-#{$i} {margin-left:($col_width * $i);}
				&.large-up-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$xlarge-up} {
			&.xlarge-up-before-0 {margin-left:($col_spacing / 2);}
			&.xlarge-up-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.xlarge-up-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.xlarge-up-before-#{$i} {margin-left:($col_width * $i);}
				&.xlarge-up-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$xxlarge-only} {
			&.xxlarge-before-0 {margin-left:($col_spacing / 2);}
			&.xxlarge-after-0 {margin-right:($col_spacing / 2);}
			&.xxlarge-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.xxlarge-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.xxlarge-before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
				&.xxlarge-after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
			}
		}

		@media #{$xlarge-only} {
			&.xlarge-before-0 {margin-left:($col_spacing / 2);}
			&.xlarge-after-0 {margin-right:($col_spacing / 2);}
			&.xlarge-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.xlarge-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.xlarge-before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
				&.xlarge-after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
			}
		}

		@media #{$large-only} {
			&.large-before-0 {margin-left:($col_spacing / 2);}
			&.large-after-0 {margin-right:($col_spacing / 2);}
			&.large-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.large-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.large-before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
				&.large-after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
			}
		}

		@media #{$medium-only} {
			&.medium-before-0 {margin-left:($col_spacing / 2);}
			&.medium-after-0 {margin-right:($col_spacing / 2);}
			&.medium-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.medium-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.medium-before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
				&.medium-after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
			}
		}

		@media #{$small-only} {
			&.small-before-0 {margin-left:($col_spacing / 2);}
			&.small-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.small-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.small-before-#{$i} {margin-left:($col_width * $i);}
				&.small-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$small-and-medium-only} {
			&.sm-before-0 {margin-left:($col_spacing / 2);}
			&.sm-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.sm-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.sm-before-#{$i} {margin-left:($col_width * $i);}
				&.sm-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$small-to-large-only} {
			&.sml-before-0 {margin-left:($col_spacing / 2);}
			&.sml-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.sml-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.sml-before-#{$i} {margin-left:($col_width * $i);}
				&.sml-after-#{$i} {margin-right:($col_width * $i);}
			}
		}
	}

	// Full width grid.
	&.full {
		width:100%;
		margin: 0;

		.columns {
			margin:0;

			@for $i from 1 through $col_count {
				&.span-#{$i} {width:($col_width * $i);}
				&.before-#{$i} {margin-left:($col_width * $i);}
				&.after-#{$i} {margin-right:($col_width * $i);}
			}

			@media #{$small-up} {
				&.small-up-before-0 {margin-left:($col_spacing / 2);}
				&.small-up-after-0 {margin-right:($col_spacing / 2);}

				@for $i from 1 through $col_count {
					&.small-up-#{$i} {width:($col_width * $i);}
					&.small-up-before-#{$i} {margin-left:($col_width * $i);}
					&.small-up-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$medium-up} {
				&.medium-up-before-0 {margin-left:($col_spacing / 2);}
				&.medium-up-after-0 {margin-right:($col_spacing / 2);}

				@for $i from 1 through $col_count {
					&.medium-up-#{$i} {width:($col_width * $i);}
					&.medium-up-before-#{$i} {margin-left:($col_width * $i);}
					&.medium-up-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$large-up} {
				&.large-up-before-0 {margin-left:($col_spacing / 2);}
				&.large-up-after-0 {margin-right:($col_spacing / 2);}

				@for $i from 1 through $col_count {
					&.large-up-#{$i} {width:($col_width * $i);}
					&.large-up-before-#{$i} {margin-left:($col_width * $i);}
					&.large-up-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$xlarge-up} {
				&.xlarge-up-before-0 {margin-left:($col_spacing / 2);}
				&.xlarge-up-after-0 {margin-right:($col_spacing / 2);}

				@for $i from 1 through $col_count {
					&.xlarge-up-#{$i} {width:($col_width * $i);}
					&.xlarge-up-before-#{$i} {margin-left:($col_width * $i);}
					&.xlarge-up-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$xxlarge-only} {
				&.xxlarge-before-0 {margin-left:0;}
				&.xxlarge-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.xxlarge-#{$i} {width:($col_width * $i);}
					&.xxlarge-before-#{$i} {margin-left:($col_width * $i);}
					&.xxlarge-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$xlarge-only} {
				&.xlarge-before-0 {margin-left:0;}
				&.xlarge-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.xlarge-#{$i} {width:($col_width * $i);}
					&.xlarge-before-#{$i} {margin-left:($col_width * $i);}
					&.xlarge-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$large-only} {
				&.large-before-0 {margin-left:0;}
				&.large-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.large-#{$i} {width:($col_width * $i);}
					&.large-before-#{$i} {margin-left:($col_width * $i);}
					&.large-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$medium-only} {
				&.medium-before-0 {margin-left:0;}
				&.medium-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.medium-#{$i} {width:($col_width * $i);}
					&.medium-before-#{$i} {margin-left:($col_width * $i);}
					&.medium-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$small-only} {
				&.small-before-0 {margin-left:0;}
				&.small-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.small-#{$i} {width:($col_width * $i);}
					&.small-before-#{$i} {margin-left:($col_width * $i);}
					&.small-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$small-and-medium-only} {
				&.sm-before-0 {margin-left:0;}
				&.sm-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.sm-#{$i} {width:($col_width * $i);}
					&.sm-before-#{$i} {margin-left:($col_width * $i);}
					&.sm-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$small-to-large-only} {
				&.sml-before-0 {margin-left:0;}
				&.sml-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.sml-#{$i} {width:($col_width * $i);}
					&.sml-before-#{$i} {margin-left:($col_width * $i);}
					&.sml-after-#{$i} {margin-right:($col_width * $i);}
				}
			}
		}
	}

	&.abs {
		position:absolute;
		left:0; width:100%;
	}

	&.bottom {
		bottom:0;
	}
}
