$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

//We use these as default colors throughout
$primary-color: #00d4dc;
$secondary-color: #004447;
$alert-color: #b55d5d;
$success-color: #85bf65;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$purple-1: #a35db5;
$purple-2: #dcbce0;
$purple-3: #a35db5;
$pink-1: #f26680;
$pink-1rgba: rgba(242, 102, 128, 0.7);
$pink-2: #c33a54;
$green-1: #85bf65;
$green-2: #7bb05e;
$green-2rgba: rgba(123, 176, 94, 0.7);
$blue-1: #00a19c;
$orange-1: #e9664d;
$orange-1rgba: rgba(233, 102, 77, 0.7);
$teal-1: #00928f;
$teal-1rgba: rgba(0, 146, 143, 0.7);
$red-1: #d53636;
$red-1rgba: rgba(213, 54, 54, 0.7);
$yellow-1: #e8b326;
$yellow-1rgba: rgba(232, 232, 38, 0.7);

$grey-1: #737373;
$grey-2: #2e2e2e;
$grey-3: #393939;
$grey-4: #e2e2e2;
$grey-5: #1b1b1b;
$grey-6: #494949;
$grey-7: #a8a8a8;
$grey-8: #e9e9e9;
$grey-9: #505050;

$grey1: lighten(#000, 95%);
$grey2: lighten(#000, 70%);
$grey3: lighten(#000, 50%);
$grey4: lighten(#000, 30%);
$grey5: lighten(#000, 10%);

$opacBlack1: rgba(0,0,0,0.9);
$opacBlack2: rgba(0,0,0,0.7);
$transparent: rgba(0,0,0,0);


$image_path: "../images/";

$base-font-size: 16px !default;
$base-line-height: 24px !default;

// Media Query Ranges
$xsmall-range: (0, 300px) !default;
$small-range: (0, 480px) !default;
$medium-range: (481px, 768px) !default;
$large-range: (769px, 960px) !default;
$xlarge-range: (961px, 1439px) !default;
$xxlarge-range: (1440px, 99999999em) !default;
$xxlarge-range-plus: (1600px, 99999999em) !default;
$xxlarge-1920-up: (1920px, 99999999em) !default;
$xxlarge-1921-up: (1921px, 99999999em) !default;


$small-height-range: (200px, 479px) !default;
$medium-height-range: (480px, 768px) !default;
$large-height-range: (769px, 1024px) !default;
$xlarge-height-range: (1025px, 1080px) !default;

$scale-small: (480 / 1920);
$scale-medium: (768 / 1920); // 0.4
$scale-large: (960 / 1920); // 0.5
$scale-xlarge: (1440 / 1920); // 0.75
$scale-xxlarge: 1;

$col_count: 12;
$col_width: (100% / $col_count);
$col_spacing: 1.23%;

$grid_sides: 4%;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (min-width:#{lower-bound($xsmall-range)}) and (max-width: #{upper-bound($xsmall-range)})" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($small-range)})" !default;
$small-not-xsmall: "#{$screen} and (min-width:#{upper-bound($xsmall-range)+1px}) and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width: #{upper-bound($medium-range)})" !default;

$small-and-medium-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($medium-range)})" !default;

$mobiles-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($medium-range)})" !default;
$desktop-only: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width: #{upper-bound($large-range)})" !default;

$small-to-large-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($large-range)})" !default;
$medium-to-large-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width: #{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width: #{upper-bound($xlarge-range)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width: #{upper-bound($xxlarge-range)})" !default;

$xxlarge-up-plus: "#{$screen} and (min-width:#{lower-bound($xxlarge-range-plus)})" !default;

$xxlarge1920-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-1920-up)}) and (max-width: #{upper-bound($xxlarge-1920-up)})" !default;
$xxlarge1921-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-1921-up)}) and (max-width: #{upper-bound($xxlarge-1921-up)})" !default;

// Heights
//

$small-height-up: "#{$screen} and (min-height:#{lower-bound($small-height-range)})" !default;
$small-height-only: "#{$screen} and (min-height:#{lower-bound($small-height-range)}) and (max-height: #{upper-bound($small-height-range)})" !default;

$medium-height-up: "#{$screen} and (min-height:#{lower-bound($medium-height-range)})" !default;
$medium-height-only: "#{$screen} and (min-height:#{lower-bound($medium-height-range)}) and (max-height: #{upper-bound($medium-height-range)})" !default;

$large-height-up: "#{$screen} and (min-height:#{lower-bound($large-height-range)})" !default;
$large-height-only: "#{$screen} and (min-height:#{lower-bound($large-height-range)}) and (max-height: #{upper-bound($large-height-range)})" !default;

$xlarge-height-up: "#{$screen} and (min-height:#{lower-bound($xlarge-height-range)})" !default;
$xlarge-height-only: "#{$screen} and (min-height:#{lower-bound($xlarge-height-range)}) and (max-height: #{upper-bound($xlarge-height-range)})" !default;

$desktop-short: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-height:#{lower-bound($medium-height-range)})" !default;

$desktop-medium-height-up: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($medium-height-range)})" !default;
$desktop-medium-height-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($medium-height-range)}) and (max-height: #{upper-bound($medium-height-range)})" !default;

$desktop-large-height-up: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($large-height-range)})" !default;
$desktop-large-height-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($large-height-range)}) and (max-height: #{upper-bound($large-height-range)})" !default;

$desktop-xlarge-height-up: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($xlarge-height-range)})" !default;
$desktop-xlarge-height-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($xlarge-height-range)}) and (max-height: #{upper-bound($xlarge-height-range)})" !default;

// We use these to define default font stacks
$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-alternate-sans-serif: 'Raleway', sans-serif !default;

$font-family-cui-regular: 'encode_sans_rg', sans-serif !default;
$font-family-cui-bold: 'encode_sans_bd', sans-serif !default;


// We use these to define default font weights
$font-weight-light: 300 !default;
$font-weight-normal: normal !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: bold !default;

$body-font-family: $font-family-sans-serif !default;
$body-font-weight: $font-weight-normal !default;
$body-font-style: normal !default;

$heading-font-family: $font-family-alternate-sans-serif !default;
