.hidden {
	display:none !important;
}

.hidden-small {
	@media #{$small-only} {
		display:none!important;
	}
}
.hidden-medium {
	@media #{$medium-only} {
		display:none!important;
	}
}
.hidden-large {
	@media #{$large-only} {
		display:none!important;
	}
}
.hidden-xlarge {
	@media #{$xlarge-only} {
		display:none!important;
	}
}
.hidden-xxlarge {
	@media #{$xxlarge-only} {
		display:none!important;
	}
}


.vis-small {
	@media #{$small-only} {
		display:block!important;
	}
}
.vis-medium {
	@media #{$medium-only} {
		display:block!important;
	}
}
.vis-large {
	@media #{$large-only} {
		display:block!important;
	}
}
.vis-xlarge {
	@media #{$xlarge-only} {
		display:block!important;
	}
}
.vis-xxlarge {
	@media #{$xxlarge-only} {
		display:block!important;
	}
}