@import 'reset';
@import 'functions';
@import 'fonts';
@import 'variables';
@import 'visibility';
@import 'unison';


@for $i from 0 through 5 {
	.mt#{$i} {margin-top:#{$i}em!important;}
	.pt#{$i} {padding-top:#{$i}em!important;}

	.mb#{$i} {margin-bottom:#{$i}em!important;}
	.pb#{$i} {padding-bottom:#{$i}em!important;}
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.underline {text-decoration:underline;}
.tac {text-align:center;}
.tar {text-align:right;}
.tint {color:$primary-color;}

.no-scrollbar::-webkit-scrollbar{display:none;}

// Globally disable text highlighting
p, h1, h2, h3 {
	//-webkit-touch-callout: none;
	//-webkit-user-select: none;
	//-khtml-user-select: none;
	//-moz-user-select: none;
	//-ms-user-select: none;
	//user-select: none;
}

html,
body {
	width: 100%;
	//height: 100vH;
	font-size: $base-font-size;
}

body {


	font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;

    line-height: $base-line-height;

    background-color:$white;
    color:$white;

    overflow-x:hidden;
}

h1, h2, h3, p {

	&.pink {color:$pink-2 !important;}
	&.purple {color:$purple-1 !important;}
	&.purple-3 {color:$purple-3 !important;}
	&.orange {color:$orange-1 !important;}
	&.teal {color:$teal-1 !important;}
	&.red {color:$red-1 !important;}
	&.yellow {color:$yellow-1 !important;}
	&.green {color:$green-1 !important;}
}

h3 {
	font-size:ceil($base-font-size * 1.375);
	line-height:ceil($base-line-height * 1.375);
}

p {
	font-size:$base-font-size;
	line-height:$base-line-height;
	margin-top:$base-font-size;
}

a:link,
a:visited {
	color:$primary-color;

	&.purple {
		color:$purple-1;

		&:visited:hover {
			color:lighten($purple-1, 10);
		}
	}
}

a:hover,
a:visited:hover {
	color:lighten($primary-color, 10);

	&.purple {
		color:$purple-1;

		&:visited:hover {
			color:lighten($purple-1, 10);
		}
	}
}

.full-height {
	height:100%;
}

// Centering in the unknown
.tbl {
	display: table;
  	width: 100%; height:100%;

  	.inner {
  		display: table-cell;
  		text-align: center;
  		vertical-align: middle;
  	}
}


@import 'redgrid';

#bgvid {
    position: fixed;
	top: 50%;
	left: 50%;
	@include translate3D(-50%, -50%, 0);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;

	&.screen-width {
		width: 100%;
	}

	&.no-shift {
		//top: 0;
		//left: 0;
		//@include translate3D(0%, 0%, 0);
	}

	&.no-min-height {
		//min-height: initial;
	}

	&.bottom-aligned {
		//top: initial;
		//bottom: 0px;
	}
}


#mainWrapper {
	width:100%;
	margin: 0 auto;
	overflow-x:hidden;
}

#headerWrapper {
	@include float-both();
	width:100%;
	height: 100vH;
	min-height: 360px;
	overflow:hidden;
	position:relative;
	@include gpuAccelerate(all);
	@include transition-this(all);

	.down-arrow {
		position: absolute;
		left:50%;
		bottom:30px;
		width:50px; height:50px;
		margin-left:-25px;
		cursor:pointer;
		z-index: 2;

		&.shift-up {
			bottom: 75px;

			@media #{$landscape} {
				bottom: 50px;
			}
		}

		@media #{$small-and-medium-only} {
			width:30px; height:30px;
			margin-left:-15px;
			bottom: 10px;
		}
	}

	.video-wrap,
	.poster-wrap {
		position: absolute;
		z-index: -2;
		width: 100%;
		height: 100%;

		@supports (object-fit: cover) {
			height: 100vH;
		}

		img,
		video{
			position:absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			/* No object-fit support: */
			@media (min-aspect-ratio: 16/9) {
				height: 200%;
				top: -50%;
				-ms-transform: scale(1.2,1.2)
			}
			@media (max-aspect-ratio: 16/9) {
				width: 200%;
				left: -50%;
			}

			/* If supporting object-fit, overriding (1): */
			@supports (object-fit: cover) {
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}

	.poster {
		height: 100vH;
	}
}


header {
	@include float-both();
	position:relative;
	width:100%; height:100%;

	.nav-outer {
		&.open {
			background-color:$grey-5;
			height:100%;
			padding-right: 100px;
			//overflow-y: scroll;
			//overflow-x: hidden;

			.nav {
				height:100%;
			}

			.hamburger-menu {
				.button.open {
					display:none;
					height:30px;
					width:30px;
				}

				.button.close {
					display:block;
					height:30px;
					width:30px;
				}
			}

			.mobile-menu {
				display:block;
			}
		}
	}

	.nav {
		@include float-both();
		height:70px;
		padding-top:32px!important;

		.logo {
			float:left;
			height:70px;

			@media #{$small-only} {
				height:40px;
			}
		}

		.nav-inner {
			display:block;
			float:right;
			font-size:18px;

			a:link, a:visited {color:$white;}
			a:hover, a:visited:hover {color:darken($white, 20);}

			.info {
				text-align:right;
			}

			menu {
				list-style:none;

				li {
					float:right;
					margin-left:26px;

					&.active {
						a:link, a:visited {color:$purple-2;}
						a:hover, a:visited:hover {color:darken($purple-2, 20);}
					}
				}
			}

			@media #{$small-to-large-only} {
				display:none;
			}
		}

		.tel-icon {
			float:right;
			margin-right:20px;

			a {

				img {
					width:30px;
					height:30px;
				}
			}

		}

		.hamburger-menu {
			display:none;
			float:right;

			@media #{$small-to-large-only} {
				display:block;
			}

			.button {
				height:30px;
				width:30px;
				cursor:pointer;

				&.open {
					display:block;
				}

				&.close {
					display:none;
				}
			}
		}

		.mobile-menu {
			width:100%; height:100%;
			display:none;
			//overflow-y: scroll;
			//padding-right: 200px;

			menu {
				@include float-both();
				list-style:none;
				margin-top:40px;
				width:100%;

				li {
					width:100%;
					border-bottom: 2px $grey-6 solid;
					@include float-both();
					font-size:30px;
					line-height:20px;
					padding:20px 0;
					text-align: center;

					a:link, a:visited {color:$white;}
					a:hover, a:visited:hover {color:darken($white, 20);}

					&.active {
						a:link, a:visited {color:$purple-2;}
						a:hover, a:visited:hover {color:darken($purple-2, 20);}
					}
				}
			}

			.social {
				@include float-both();
				list-style:none;
				width:100%; height:80px;
				margin-top:20px;
				margin-bottom: 20px;
				text-align: center;

				li {
					display:inline;
					height:100%;
					margin:15px;

					img {
						height:100%;
					}
				}
			}
		}
	}

	.we-are-block {
		position:absolute!important;
		left:($grid_sides / 2); right:($grid_sides / 2);
		top:(70px + 32px); bottom:32px;
		font-size:72px;
		line-height:72px;
		font-weight:$font-weight-light;
		text-transform: uppercase;

		@media #{$small-only} {
			font-size:(72px * $scale-medium);
			line-height:(72px * $scale-medium);
		}

		@media #{$medium-only} {
			font-size:(72px * $scale-large);
			line-height:(72px * $scale-large);
		}

		@media #{$large-only} {
			font-size:(72px * $scale-large);
			line-height:(72px * $scale-large);
		}

		@media #{$xlarge-only} {
			font-size:(72px * $scale-xlarge);
			line-height:(72px * $scale-xlarge);
		}

		.hilite {
			display:inline-block;
			font-family: $heading-font-family;
			font-weight: 800;
			font-size:60px;
			line-height:60px;
			background-color: rgba(163, 93, 181, 0.7);
			padding:32px;
			text-transform: uppercase;
			margin:20px 0;

			.number-wang {
				font-size:120%;
			}

			@include gpuAccelerate(transform);

			@media #{$small-only} {
				font-size:(60px * $scale-medium);
				line-height:(70px * $scale-medium);
			}

			@media #{$medium-only} {
				font-size:(60px * $scale-large);
				line-height:(60px * $scale-large);
			}

			@media #{$large-only} {
				font-size:(60px * $scale-large);
				line-height:(60px * $scale-large);
			}

			@media #{$xlarge-only} {
				font-size:(60px * $scale-xlarge);
				line-height:(60px * $scale-xlarge);
			}
		}
	}

	.black-out-layer {
		position: absolute;
		//display: block;
		width: 100%;
		//top: -100px;
		top: 0px;
		left: 0;
		bottom: 100%;
		right: 100%;
		height: 100%;
		height: calc(100vH + 100px);
		background-color: rgba(0,0,0,0.65);
		//@include gpuAccelerate(background-color);
		//@include transition-this(background-color, 0.1s, ease-in);

		&.menu-blue {
			position: absolute;
			height:134px;
			background-color: rgba(53,66,75,0.7);
		}

		&.menu-grey-1 {
			position: absolute;
			height:150px;
			background-color: rgba(0,0,0,0.7);

			@media #{$small-only} {
				height:100px;
			}
		}

		&.opaque {
			background-color: rgba(0,0,0,1);
		}

		&.see-through {
			background-color: rgba(0,0,0,0.65);
		}

		&.push-back {
			z-index: -1;
		}
	}

	@include gradientLayer();

	div.fixed-background {
	    /*background-attachment: fixed;*/
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		@media all and (-webkit-min-device-pixel-ratio : 1.5),
			all and (-o-min-device-pixel-ratio: 3/2),
			all and (min--moz-device-pixel-ratio: 1.5),
			all and (min-device-pixel-ratio: 1.5) {
				background-attachment: scroll;
		}

		&.scroll-to-video {

			@include playButton();

			iframe.pullback-video {
				position: fixed;
				top: 50%;
				left: 50%;
				-webkit-transform: translate3d(-50%, -50%, 0);
				-moz-transform: translate3d(-50%, -50%, 0);
				-o-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -1;
				overflow: hidden;
			}
		}
	}

}


#contentWrapper {
	@include float-both();
	width:100%; height:auto;
	background-color:$white;
	z-index: 1000;

	section {
		background-color:$white;
		z-index: 100;

		div.project-more,
		div.phones,
		div.project-intro {
			background-color:$white;
		}

		&.grey-background {
		}

		div.white-background {
			background-color:$white;
		}

		div.black-background {
			background-color:$black;
		}

		div.grey-background {
			background-color:$grey-4;
		}
	}
}

// This sits at the top and parallaxes over the video.
// We use it on most/some pages.
.intro {
	padding: 80px 0;

	text-align: center;

	h1 {
		color: $purple-1;
		font-size: 60px;
		line-height: 60px;
		font-weight: $font-weight-light;

		@media #{$small-and-medium-only} {
			font-size: 45px;
			line-height: 45px;
		}
	}

	h2 {
		color: $purple-1;
		font-size: 24px;
		line-height: 24px;
		font-weight: $font-weight-light;
		margin-top:0.5em;
	}

	p {
		color: $grey-1;
	}
}


// Sits at the bottom and is common across all pages.
.footer {
	background-color:$grey-3;
	padding: 32px 0;

	@media #{$small-and-medium-only} {
		text-align: center;
	}

	p {
		font-weight: $font-weight-light;

		a:link, a:visited {color:$white;}
		a:hover, a:visited:hover {color:darken($white, 20);}

		b {
			font-weight: $font-weight-semi-bold;
		}

		&.copyright {
			float:right;
			clear:both;
			text-align:right;
			font-size:12px;

			@media #{$small-and-medium-only} {
				width:100%;
				text-align:center;
				font-size:18px;
			}
		}
	}

	.social {
		float:right;
		list-style:none;
		width:((56px + 20px) * 2);

		li {
			float:right;
			margin-left:20px;
			width:56px; height:56px;

			img {
				width:100%; height:100%;
			}
		}

		@media #{$small-and-medium-only} {
			float:none;
			display:inline;
			margin-left:-20px;

			li {
				display:inline-block;
				float:none;
			}
		}
	}

	.email {

		@media #{$large-only} {
			padding-bottom: 20px;

			p {
				text-align: right;
			}
		}
	}

	.footer-button {

		background-color:$white;
		padding:10px 20px;
		@include border-radius(5px);

		font-weight: $font-weight-light;
		font-size: 14px;
		line-height: 14px;
		color:$grey-3;
		display:block;

		@media #{$small-and-medium-only} {
			font-size: 18px;
			line-height: 18px;
		}

		&:hover {
			@include opacity(75, 0.75);
			color:$grey-3;
		}

		&.left {
			float:left;

			@media #{$small-only} {
				float:none;
			}
		}

		&.right {
			float:right;

			@media #{$small-only} {
				float:none;
				margin-top:1em;
			}
		}
	}
}


@import 'animate-it/animations';
