@-webkit-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Standard syntax */
@keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
  width: .5em;
  height: .5em;
  -webkit-animation: spin 0.75s linear infinite;
  -moz-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
}

.loader.large {
  width: 1.5em;
  height: 1.5em;
}

.lt-ie10 .loader {
  margin: 0 0 -2px;
  background: url("/images/shared/loading.gif") center center no-repeat;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  border: none;
  width: 16px;
  height: 16px;
}
