/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
/**
 * Detect mobile landscape conditions and apply custom styling
 */
/**
 * Mixin for background image
 */
.tag {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  padding: 3px 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px #737373 solid;
}

.tag:hover {
  opacity: 0.75;
}

.tag.pink {
  color: #f26680;
  border-color: #f26680;
}

.tag.orange {
  color: #e9664d;
  border-color: #e9664d;
}

.tag.teal {
  color: #00928f;
  border-color: #00928f;
}

.tag.red {
  color: #d53636;
  border-color: #d53636;
}

.tag.yellow {
  color: #e8b326;
  border-color: #e8b326;
}

.tag.green {
  color: #85bf65;
  border-color: #85bf65;
}
