@import '../functions';
@import '../variables';

#headerWrapper {
	@include backgroundUrl('about');
}

.blocks-outer {
	height:0;
	position:relative;
	@include transition-height(0.3s,ease-out);

	.intro-block {
		position:absolute;
		top:0; left:0;
		width:100%;
		display:none;
		@include opacity(0, 0);
		@include transition-this(all, 0.3s, ease-out);

		&.active {
			display:block;
			@include opacity(100, 1);
		}

		h1, h2, p, span {
			color: #737373;
		}
	}

}

.intro {
	padding: 0 0 80px 0;
	position:relative;

	p {
		/* This is an inversion of the normal for the animation to work */
		color:$purple-1;

		span {
			color: $grey-1;
		}
	}
}

.button-group {
	@include float-both();
	text-align:center;
	margin-top:50px!important;
	margin-bottom:50px!important;

	@media #{$small-and-medium-only} {
		margin-top:0!important;
	}

	.button {
		display:inline;
		padding:10px 25px;
		color:$orange-1;
		border-top:1px $orange-1 solid;
		border-bottom:1px $orange-1 solid;

		font-weight:$font-weight-bold;
		font-size:14px;
		line-height:14px;
		cursor:pointer;

		@media #{$small-and-medium-only} {
			@include box-border-sizing();
			display: inline-block;
			width:50%;
			font-size:24px;
			line-height:24px;
		}

		&:first-child {
			@media #{$large-up} {
				-webkit-border-radius: 10px 0 0 10px;
				border-radius: 10px 0 0 10px;
				border-left:1px $orange-1 solid;
			}
		}

		&:last-child {
			@media #{$large-up} {
				-webkit-border-radius: 0 10px 10px 0;
				border-radius: 0 10px 10px 0;
				border-right:1px $orange-1 solid;
			}
		}

		&.active {
			background-color:$orange-1;
			color:$white;
			cursor:default;
		}
	}
}

@import 'partials/quotes';

.quote-outer {
	background-color:$orange-1;

	p {
		color:$white!important;
	}
}



.grid-wall {
	.bg {
		@include float-both();
		width:100%;
		display:block;

		@media #{$small-only} {
			display:none;
		}
	}

	.bg-tall {
		@include float-both();
		width:100%;
		display:none;

		@media #{$small-only} {
			display:block;
		}
	}

	.item {
		position:absolute;
		width:25%;

		@include transition-left-top(0.3s, ease-out);

		&.large {
			width:50%;
		}

		&.p1 {left:0; top:0;}
		&.p2 {left:25%; top:0;}
		&.p3 {left:50%; top:0;}
		&.p4 {left:75%; top:0;}
		&.p5 {left:0; top:25%;}
		&.p6 {left:25%; top:25%;}
		&.p7 {left:50%; top:25%;}
		&.p8 {left:0; top:50%;}
		&.p9 {left:50%; top:75%;}
		&.p10 {left:75%; top:75%;}

		@media #{$small-only} {
			width:50%;

			&.large {
				width:100%;
			}

			&.p1 {left:0; top:0;}
			&.p2 {left:50%; top:0;}
			&.p3 {left:0; top:12.5%;}
			&.p4 {left:50%; top:12.5%;}
			&.p5 {left:0; top:25%;}
			&.p6 {left:50%; top:25%;}
			&.p7 {left:0; top:37.5%;}
			&.p8 {left:0; top:62.5%;}
			&.p9 {left:0; top:87.5%;}
			&.p10 {left:50%; top:87.5%;}
		}
	}

}
