@import '../functions';
@import '../variables';

.intro {
	background-color:$purple-1;

	p {
		color:$white;
	}
}

.contact-form {
	padding-top:80px;
	padding-bottom:80px;

	.formRow {
		margin-bottom:25px !important;


		label {
			width:100%;
			@include float-both();
			color:$purple-1;
			font-size:24px;
			line-height:24px;
			font-weight:$font-weight-light;
			margin-bottom:15px;
		}

		small.error {
			color:$alert-color;
			font-size:0.8em;
		}

		input,
		textarea,
		select {
			float:left;
			padding:5px;
			border:$grey-7 1px solid;
			background-color:$grey1;
			@include box-border-sizing();
			resize: none;
			font-family: $body-font-family;
			
			@include ignoreiOSStyling();
		}

		input.full,
		textarea.full,
		select.full {
			width:100%;
		}

		.half,
		.half {
			float:left;
			width:48%;

			&.left {
				margin-right:2%;
			}
			&.right {
				margin-left:2%;
			}

			@media #{$small-and-medium-only} {
				width:100%;
				margin:0 0 15px 0!important;
			}
		}

		.button {
			float:right;
			background-color:$purple-1;
			border:$purple-1 1px solid;
			color:$white;
			@include border-radius(7px);
			padding:5px 15px;
			cursor:pointer;

			&:hover {
				color:darken($white,20);
			}
		}
	}
}

.response {
	@include float-both();
	width:100%;
	color:$white;
	text-align: center;
	padding:1em 0;
	background-color:$success-color;
	margin-bottom:15px;
}

.address {
	background-color:$purple-1;
	padding-top:80px;
	padding-bottom:80px;
	font-size:24px;
	line-height:28px;
	border-bottom:1px $white solid;

	.divide {
		position:relative;

		.line {
			position:absolute;
			left:50%;
			margin-left:-1px;
			width:0; height:100%;
			border-right:1px $white solid;

			@media #{$small-and-medium-only} {
				display:none;
			}
		}
	}

	.row .row .row {
		margin-bottom:15px!important;

		.icon {
			width:100%;
			float:left;
			margin-top:3px;
			height:24px;
		}
	}
	
	h1 {
		font-size: ($base-font-size * 1.2);
		font-weight: $font-weight-normal;
		
		@media #{$xlarge-only} {
			font-size: ($base-font-size * 1.2);
		}
		
		@media #{$large-only} {
			font-size: ($base-font-size * 0.9);
		}
		
		@media #{$medium-only} {
			font-size: ($base-font-size * 0.9);
		}
		
		@media #{$small-only} {
			font-size: ($base-font-size * 1.2);
		}
	}
	
	h2 {
		font-size: ($base-font-size * 1);
		font-weight: $font-weight-normal;
		
		@media #{$xlarge-only} {
			font-size: ($base-font-size * 1);
		}
		
		@media #{$large-only} {
			font-size: ($base-font-size * 0.8);
		}
		
		@media #{$medium-only} {
			font-size: ($base-font-size * 0.9);
		}
		
		@media #{$small-only} {
			font-size: ($base-font-size * 1);
		}
	}
	
	p {
		font-size: ($base-font-size * 0.8);
		font-weight: $font-weight-normal;
		
		@media #{$xlarge-only} {
			font-size: ($base-font-size * 0.8);
		}
		
		@media #{$large-only} {
			font-size: ($base-font-size * 0.6);
		}
		
		@media #{$medium-only} {
			font-size: ($base-font-size * 0.9);
		}
		
		@media #{$small-only} {
			font-size: ($base-font-size * 0.8);
		}
	}
}

.map {
	background-color:$purple-1;
	padding-top:25px;
	padding-bottom:25px;
	text-align:center;
	
	h3 {
		font-size:24px;
		line-height:24px;
	}

	.pick {
		list-style:none;
		margin-top:25px;
		font-size:24px;
		line-height:24px;

		li {
			display:inline;
			cursor:pointer;

			&.active {
				font-weight:bold;
				cursor:default;
			}
		}
	}
}

.canvas {
	
	$mapHeight:450px;
	$mapLandscapeHeight:200px;

	height:$mapHeight;
	background-color:#e9e5dc;
	
	$detectParameters: (
		height: $mapLandscapeHeight,
	);
	
	@include detectMobileLandscape($detectParameters);

	#gMap {
		height:$mapHeight;
		
		@include detectMobileLandscape($detectParameters);
	}
}









