@import '../functions';
@import '../variables';

/* --------------------------
  Keyframes
--------------------------- */
@keyframes grow {
	0% {
		transform: scale(0);
	}

	30% {
		transform: scale(1.1);
	}

	60% {
		transform: scale(0.9);
	}
}

@keyframes turn {
	0% {
		transform: rotate(0) scale(0);
		opacity: 0;
	}

	60% {
		transform: rotate(375deg) scale(1.1);
	}

	80% {
		transform: rotate(355deg) scale(0.9);
	}

	100% {
		transform: rotate(360deg) scale(1);
	}
}

@keyframes pulse {
	50% {
		transform: scale(1.4);
	}
}


.style-404, .style-500 {
  height: 100vH;
  @include at2x('/images/error/404-background', $ext: "jpg");
  background-size: cover !important;

  .inner {
    position:relative;
    text-align: center;
    width: 456px;
    height: auto;
    margin-left: calc(50% - (456px / 2));
    top: -10%;
    transform-origin: 50% 50%;
    @include gpuAccelerate(all, 'true');
    @include transition-this(all, 0.3s, ease-in-out);
    @include opacity(0, 0.0);

		&.no-anim {
			top: 20%;
			@include opacity(100, 1.0);
		}

    &.reveal {
      @include opacity(1, 1.0);
      animation: grow 3s ease-out backwards;
      top: 20%;
    }

    &.reveal-rotate {
      animation: turn 1.1s ease-out backwards;
      @include opacity(1, 1.0);
      top: 20%;
    }

    @media #{$xxlarge-up} {
      padding-top: 10%;
    }

    @media #{$medium-only}, #{$small-only} {
      width: 300px;
      margin-left: calc(50% - (300px / 2));
    }

    img {
      width:100%;
    }

    h3 {
      font-size:($base-font-size * 1);
      font-weight: normal;
      color:white;
      @include gpuAccelerate('opacity');
      @include transition-this(all, 0.3s, ease-in-out);
      @include opacity(0, 0.0);

			&.no-anim {
				@include opacity(100, 1.0);
			}

      &.reveal {
        @include opacity(1, 1.0);
      }
    }

    a {
      color:white;
      text-decoration: underline;
    }
  }
}

.style-500 {
  @include at2x('/images/error/500-background', $ext: "jpg");
  background-size: cover !important;
}
