@import '../functions';
@import '../variables';

#headerWrapper {
	@include backgroundUrl('home');
}

.fixed-background {

	 &.background-scroll {
		background-attachment: scroll !important;
		background-color: #000;
	 }
}

.services {
	background-color: $grey-2;
	text-align: center;
	padding-bottom: 20px;

	&.services-header {
		padding: 0;

		h1 {
			font-weight: $font-weight-light;
			font-size: 45px;
			line-height: 60px;
			padding-top: 10px;
			padding-bottom: 20px;
		}
	}

	.services-banner-nav-left,
	.services-banner-nav-right {
		position:absolute;
		left: 0;
		background-color: rgba(0,0,0,0.3);
		height: 100%;
		width: 65px;
		cursor: pointer;
		z-index: 500;
		@include opacity(0, 0);
		@include gpuAccelerate(opacity);
		@include transition-this(opacity, 0.3s, ease-in-out);

		&.reveal-nav {
			@include opacity(100, 1);
		}

		@media #{$small-and-medium-only} {
			display:none;
		}

		svg {
			margin-top:500%;
			height: 50%;

			image {}
		}
	}

	.services-banner-nav-right {
		left: auto;
		right: 0;
	}

	$paddingPerc: 1%;

	.carousel-service {
		position: relative;
		@include float-both();
		width:(100% - ($grid_sides/2));
		height:auto;
		overflow: hidden;
		@include box-border-sizing();
		cursor: pointer;

		@media #{$xxlarge-up-plus} {
			margin: 0 auto;
			width: 1440px !important;
			float: none  !important;
		}

		$item_count: 5;
		$item_count_five: 5;
		$item_count_four: 4;
		$item_count_three:3;
		$item_count_two:  2;
		$item_count_one:  1;

		&.row {
			width: 100%;
			list-style:none;

			div.box-spacing {
				box-sizing: border-box;
				padding: 5px;
			}

			div.pane {

				float:left;
				position:relative;
				width:100%;
				height: 520px;
				background-color:#d20000;
				margin-right:($grid_sides/2);
				overflow: hidden;

				@media #{$xxlarge1920-up} {
					height: 450px !important;
				}

				@media #{$small-only} {
					height: auto;
					min-height: 550px !important;
				}

				@media #{$medium-only} {
					height: 650px;
				}

				&.pane {

				}

				.head {
					display: table;
					@include float-both();
					width:101%; height:146px;
					background-position: top left;
					background-repeat:no-repeat;
					background-size:cover;

					span {
						display: table-cell;
						vertical-align: middle;

						svg {
							height:100px;

							image {
								height: 100%;
								width: 100%;
							}
						}
					}
				}

				h3 {
					@include float-both();
					width:100%;
					font-weight: $font-weight-semi-bold;
					font-size: 24px;
					line-height: 24px;
					margin-top:$base-font-size!important;

					@media #{$small-and-medium-only} {
						//font-size: 36px;
						//line-height: 36px;
					}
				}

				p {
					@include float-both();
					@include box-border-sizing();
					line-height:ceil($base-font-size * 1.2);
					padding: 20px;

					@media #{$small-and-medium-only} {
						//font-size:ceil($base-font-size * 1.25);
						//line-height:ceil($base-font-size * 1.35);
					}

					@media #{$xxlarge-only} {
						padding:0 30px;
					}

					@media #{$small-only} {
						padding-bottom: 100px;
					}
				}

				.button {
					position:absolute;
					left:50%;
					@include translateX(-50%);

					bottom:30px;
					margin:0 auto;
					background-color:$white;
					padding:10px 20px;
					@include border-radius(5px);

					font-weight: $font-weight-light;
					font-size: 14px;
					line-height: 14px;

					@media #{$small-and-medium-only} {
						font-size: 18px;
						line-height: 18px;
					}

					@include fadeButton($grey-2, all);
				}

				@mixin backgroundFix() {
					background-size:cover !important;
					background-position: 50% 0%;
				}

				&.presentations {
					background-color:#f26680;

					.head {
						@include at2x('/images/home-services/presentations', jpg);
						@include backgroundFix();
					}

					.button {
						color:#f26680;
					}
				}

				&.digital-solutions {
					background-color:#e9664d;

					.head {
						@include at2x('/images/home-services/digital-solutions', jpg);
						@include backgroundFix();
					}

					.button {
						color:#e9664d;
					}
				}

				&.infosec {
					background-color:#00a19c;

					.head {
						@include at2x('/images/home-services/information-security', jpg);
						@include backgroundFix();
					}

					.button {
						color:#00a19c;
					}
				}

				&.video {
					background-color:$red-1;

					.head {
						@include at2x('/images/home-services/video', jpg);
						@include backgroundFix();
					}

					.button {
						color:$red-1;
					}
				}

				&.exhibitions {
					background-color:$yellow-1;

					.head {
						@include at2x('/images/home-services/exhibition', jpg);
						@include backgroundFix();
					}

					.button {
						color:$yellow-1;
					}
				}

				&.campaigns {
					background-color:$green-2;

					.head {
						@include at2x('/images/home-services/campaign-solutions', jpg);
						@include backgroundFix();
					}

					.button {
						color:$green-2;
					}
				}
			}
		}
	}

	@import 'partials/orb';
}

@import 'partials/case_study';

@import 'partials/clients';
