@import '../functions';
@import '../variables';
@import './partials/_projects_grid';

#headerWrapper {
	@include backgroundUrl('projects');
}

/**
 * Import header controls
 */
@import 'partials/header_video_controls';

/**
 * Import slider style
 */
@import 'partials/slider-style';

/* interactive screen values */
$samsung-width: 783px;
$samsung-height: 512px;
$right: 17px;
$bottom: 13px;

$ipad-width: (800px * 0.9);
$ipad-ratio: 0.707;
$ipad-left: 30px;
$ipad-top: 30px;
$ipad-right: 90px;
$ipad-bottom: 60px;


.dd-filters {
    /* Size and position */
    position:absolute;
	left:15px; top:15px;
	z-index:99999;

    width: 200px;
    margin: 0 auto;
    padding: 5px 10px;

    /* Styles */
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: $font-weight-light;
    font-size:14px;
    color: $grey-1;
}

.dd-filters:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: $grey-1 transparent;
}

.dd-filters .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    z-index:999999;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;

    @include transition-this(all, 0.2s, ease-out);
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.dd-filters .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.dd-filters .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}

.dd-filters .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: $grey-1;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    @include transition-this(all, 0.2s, ease-out);
}

.dd-filters .dropdown li:first-of-type a {
    border-radius: 5px 5px 0 0;
}

.dd-filters .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 5px 5px;
}


/* Hover state */

.dd-filters .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.dd-filters.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .dd-filters .dropdown,
.no-pointerevents .dd-filters .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .dd-filters.active .dropdown,
.no-pointerevents .dd-filters.active .dropdown {
    display: block;
}

header {
	@include retinaSpawn(projects, header);
}

.project-head {
	position:absolute;
	left:0; bottom: 55px;

	h1 {
		font-size: 36px;
		line-height: 38px;
		color:$white;
		font-weight:$font-weight-normal;
		margin-bottom:16px;
	}

	h2 {
		font-size: 24px;
		line-height: 26px;
		color:$white;
		font-weight:$font-weight-light;
		margin-bottom:16px;
	}

	.tag {
		display:inline-block;
		font-size: 14px;
		font-weight:$font-weight-light;
		line-height: 16px;
		padding:3px 20px;
		@include border-radius(10px);
		border:1px $grey-1 solid;

		&:hover {
			opacity:0.75;
		}
	}

/**
 * Import slider style
 */
  @import 'partials/tag';

  @media #{$small-only}, #{$medium-only} {
    &.avoid-play {
      bottom: 125px
    }
  }

  @media #{$large-only} {
    &.avoid-play {
      bottom: 205px;
    }
  }
}

#contentWrapper {

	div.projects-background-grey {
		background-color: #454545;
	}

	.video-player-wrap {
		pointer-events: none;
		width:100%;
		min-height: 80% !important;
		height:auto;
		background-color:$grey-2;
		@include gpuAccelerate(min-height);
		@include transition-this(min-height);
		line-height: 0;

		&.transparent-background {
			background: transparent;
		}

		.video-content {
			position: relative;
			width:100%;
			height:100%;
		}
	}

	@include playButton($bottom, $right);

	@include pauseButton();

	@include muteButton();
}

.project-intro {
  text-align: center;
	padding-top:80px;
	padding-bottom:80px;
	color:$grey-1;

	@media #{$small-to-large-only} {
    padding-top:0px;
  	padding-bottom:30px;
  }

	.summary {
    text-align: center;

		h1 {
			font-size: 36px;
			line-height: 38px;
			margin-bottom:10px;

			&.h1-light {
				font-weight: normal;
			}
		}

		h2 {
			font-size: 24px;
			line-height: 26px;
			font-weight:$font-weight-light;
			margin-bottom:1em;

			.crossed-out {
				text-decoration:line-through;
			}
		}

		@media #{$small-to-large-only} {
			padding-top:60px;
			padding-bottom:60px;
			// background-color:$grey-1;
			// margin-top:60px!important;
			// margin-bottom:60px!important;

			h2 {
				// margin-bottom:0;
			}
		}
	}



	h3 {
		font-size: 16px;
		line-height: 16px;
		font-weight:$font-weight-semi-bold;
	}

	p {
		font-weight:
		$font-weight-light;
		margin:0 0 1em 0;

		&:last-child {
			margin-bottom:0;
		}
	}

	.details {
		float:right;

		@media #{$small-to-large-only} {
			float:left;

			p {
				margin-bottom: 0;
        color: white;

        span {
          color:white !important;

          @media #{$small-to-large-only} {
            font-weight: bold;
          }
        }
			}
		}

		.potm {
			width:100%;
			float:left;
			border-top:1px $grey-1 solid;
			border-bottom:1px $grey-1 solid;
			padding:10px;
			font-weight:$font-weight-semi-bold;
			font-size: 16px;
			line-height: 16px;
			text-align:center;
			margin-bottom:1em;
			@include box-border-sizing();

			@media #{$small-to-large-only} {
				margin-bottom:30px;
			}
		}
	}

  .description {
    padding-top: 1em;

    &.mrgBtm20 {
      margin-bottom: 20px;
    }
  }

	a,
	a:hover,
	a:visited {
		color: $yellow-1;
	}

	.button {
		margin:0 auto;
		color: $white;
		background-color:$white;
		padding:10px 20px;
		@include border-radius(5px);
		@include gpuAccelerate(opacity);

		font-weight: $font-weight-light;
		font-size: 14px;
		line-height: 14px;

		@include fadeButton($grey-2, all);
	}

	&.yellow {
		// h2 {color:$yellow-1;}

		a.button {
			background-color:$yellow-1;
			color: $white;

			@include fadeButton($yellow-1, all);
		}
	}
}

@mixin potm($col) {
	.potm {
			color: $col;
			border-top: 1px $col solid;
			border-bottom: 1px $col solid;
		}
}

.project-intro.pink {
	.summary {
		h1 {color:$pink-1;}
		@media #{$small-to-large-only} {
			background-color:$pink-1;
			h1 {color:$white;}
			h2 {color:$white;}
		}
	}
	.details {
		p span {color:$pink-1;}

		@include potm($pink-1);
	}
}

.project-intro.orange {
	.summary {
		h1 {color:$orange-1;}
		@media #{$small-to-large-only} {
			background-color:$orange-1;
			h1 {color:$white;}
			h2 {color:$white;}
		}
	}
	.details {
		p span {color:$orange-1;}

		@include potm($orange-1);
	}
}

.project-intro.teal {
	.summary {
		h1 {color:$teal-1;}
		@media #{$small-to-large-only} {
			background-color:$teal-1;
			h1 {color:$white;}
			h2 {color:$white;}
		}
	}
	.details {
		p span {color:$teal-1;}

		@include potm($teal-1);
	}
}

.project-intro.red {
	.summary {
		h1 {color:$red-1;}
		@media #{$small-to-large-only} {
			background-color:$red-1;
			h1 {color:$white;}
			h2 {color:$white;}
		}
	}
	.details {
		p span {color:$red-1;}

		@include potm($red-1);
	}
}

.project-intro.yellow {
	.summary {
		h1 {color:$yellow-1;}
		@media #{$small-to-large-only} {
			background-color:$yellow-1;
			h1 {color:$white;}
			h2 {color:$white;}
		}
	}
	.details {
		p span {color:$yellow-1;}

		@include potm($yellow-1);
	}
}

.project-intro.green {
	.summary {
		h1 {color:$green-1;}
		@media #{$small-to-large-only} {
			background-color:$green-1;
			h1 {color:$white;}
			h2 {color:$white;}
		}
	}
	.details {
		p span {color:$green-1;}

		@include potm($green-1);
	}
}

.project-intro.purple-3 {
	.summary {
		h1 {color:$purple-3;}
		@media #{$small-to-large-only} {
			background-color:$purple-3;
			h1 {color:$white;}
			h2 {color:$white;}
		}
	}
	.details {
		p span {color:$purple-3;}

		@include potm($purple-3);
	}
}


.project-more {
	padding-top:80px;
	padding-bottom:80px;
	color:$grey-1;
	text-align:center;

  &.no-padding-bottom {
    padding-bottom:0px;
  }

	h1.award-title {
		font-weight: $font-weight-normal;
		line-height: 60px;
		font-size: 24px;
		&.pink 	 {color:$pink-2;}
		&.orange {color:$orange-1;}
		&.teal   {color:$teal-1;}
		&.red    {color:$red-1;}
		&.yellow {color:$yellow-1;}
		&.green  {color:$green-1;}
	}

	h3 {
		font-size: 16px;
		line-height: 16px;
		font-weight:$font-weight-semi-bold;
	}

	p {
		font-weight:$font-weight-light;
		margin:0 0 1em 0;

		&.p-bold {
			font-weight: bold;
		}
	}

  a {
    &.pink 	 {color:$pink-2;}
		&.orange {color:$orange-1;}
		&.teal   {color:$teal-1;}
		&.red    {color:$red-1;}
		&.yellow {color:$yellow-1;}
		&.green  {color:$green-1;}
  }

	.button {
		background-color:$grey-1;
		padding:10px 20px;
		@include border-radius(5px);
		display:inline-block;
		margin-top:.5em;

		font-weight: $font-weight-light;
		font-size: 14px;
		line-height: 14px;
		color:$white;

		@media #{$small-and-medium-only} {
			font-size: 18px;
			line-height: 18px;
		}
	}

	ul.project-more-awards {
		display: inline-block;
		width: auto;
		height: auto;

		li {
			list-style:none;
			float:left;

			&.spacer {
				width: 40px;
			}

			@media #{$small-only}, #{$medium-only} {
				float: initial;
			}
		}

	}

  .static-video-wrap {
    margin-top: 40px !important;
    margin-bottom: 40px !important;

    	@media #{$small-only}, #{$medium-only} {
        margin-bottom: 20px !important;
      }

    .pane {
      .parallax {
        height:auto;
      }
    }
  }

  div {

    &.padding-top-btm-20 {
      padding: 20px 0px;
    }

    &.padding-top-btm-40 {
      padding: 40px 0px;
    }
  }
}


.project-more.pink,
.project-more.orange,
.project-more.teal,
.project-more.red,
.project-more.yellow,
.project-more.green {
	h1, h2, h3, p {color:$white;}
	.button {background-color:$white;}
}

.project-more.pink {
	background-color:$pink-1 !important;
	.button {color:$pink-1;}
}
.project-more.orange {
	background-color:$orange-1 !important;
	.button {
		color:$orange-1;
		@include fadeButton($grey-2, all,darken ,$orange-1);
	}
}
.project-more.teal {
	background-color:$teal-1 !important;
	.button {
		color:$teal-1;
		@include fadeButton($grey-2, all,darken ,$teal-1);
	}
}
.project-more.red {
	background-color:$red-1 !important;
	.button {
		color:$red-1;
		@include fadeButton($grey-2, all,darken ,$red-1);
	}
}
.project-more.yellow {
	background-color:$yellow-1 !important;
	.button {
		color:$yellow-1;
		@include fadeButton($grey-2, all,darken ,$yellow-1);
	}
}
.project-more.green {
	background-color:$green-1 !important;
	.button {
		color:$green-1;
		@include fadeButton($grey-2, all,darken ,$green-1);
	}
}

.parallax {
	height:800px;
	overflow:hidden;
	position:relative;

	&.reflow-parallax {
		height:auto;
	}

	.bg {
		position: absolute;
		background-position: 50% 0;
		background-repeat: no-repeat;
		//background-attachment: fixed;
		background-size: cover;
		width:100%; height: 100vH;
		margin: 0 auto;
		top:0;
    @include gpuAccelerate(transform);

		@include retinaSpawn(projects, body);

		&.nofix {
			position: relative;
			height: 300px;
			background-attachment: scroll !important;
			background-size: cover !important;
			background-position: 50% 50% !important;
		}

    &.alt-height {
      height: 90%;
    }
	}
}

 .interactive-site
,.still-site {
	padding-top:80px;
	padding-bottom:80px;
	height:550px;
	position:relative;

	&.still-site {
		padding-top:30px;
		padding-bottom:30px;
		text-align: center;

		img {
			height:100%;

			&.stretch-mobile {
				@media #{$medium-only}, #{$small-only} {
					height: initial;
					width: 100% !important;
				}
			}
		}

		&.full-width-image {
			height: auto;
			padding: 0;
			margin: 0;
			line-height: 0px;

			.row {
				&.padding1rem {
					padding:2rem;
					@include box-border-sizing();
				}

				&.grey-background {
					background-color: $grey-8;
				}
			}

			@include retinaSpawn(projects, body_still);

			.align-right {
				background-size: 70% !important;
				background-position-x: 80% !important;
				background-repeat: no-repeat !important;

				@media #{$small-only} {
					background-position-x: 50% !important;
				}
			}

			.align-left {
				background-size: 70% !important;
				background-position-x: 20% !important;
				background-repeat: no-repeat !important;

				@media #{$small-only} {
					background-position-x: 50% !important;
				}
			}

			.align-center {
				background-size: contain !important;
				background-position-x: 50% !important;
				background-repeat: no-repeat !important;

				&.cover {
					background-size: cover !important;
				}

				@media #{$small-only} {
					background-size: 70% !important;
					background-position-x: 50% !important;
				}
			}

			img {
				height:initial;
				width:100%;
			}
		}

		&.increase-size {
			padding-bottom: 100px;

			img {
				height: 130%;
			}
		}
	}

	.monitor {
		float:left;
		position:relative;
		width:680px; height:550px;
		background-image:url(/images/shared/interactive-monitor.png);
		background-repeat:no-repeat;

		$scale_factor: 1;


		.screen {
			position:absolute;
			left:29px; top:31px;
			right:29px;
			height:349px;
			overflow-x:hidden;

			img {
				width:100%;
				&.toScroll {
					position:absolute;
					left:0; top:0;
				}
			}
		}

		&.not-mac {
			background-image:url(/images/shared/powerpoint-monitor.png);
			background-repeat:no-repeat;
			width:$samsung-width; height:$samsung-height;
			background-size: ($samsung-width * 0.8) ($samsung-height * 0.8);

			.screen {
				left: $ipad-left;
				top: 13px;
				right: initial;
				height: $samsung-height;
				width: $samsung-width;

				img.toScroll {}

				div.full-screen-height {
					padding-bottom: 0;
					height: 100%;
				}
			}
		}

		@include isIpad();
	}

	.try-arrows {
		position:absolute;
		left:(680px + 30px);
		top: calc(50% - 15px);
		@include translateY(-50%);
		width:60px;
	}

	.try {
		position:absolute;
		left:(680px + 30px + 60px + 15px);
		right:0;
		top: calc(50% - 15px);
		@include translateY(-50%);
		font-size:24px;
		line-height:24px;
		font-weight:$font-weight-light;
    color:white;

		span {
			font-weight:$font-weight-semi-bold;
		}
	}

	@media #{$xxlarge-only} {
		$scale_factor: 1;

		height:ceil(550px * $scale_factor);

		.monitor {
			width:ceil(680px * $scale_factor); height:ceil(550px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(550px * $scale_factor);

			.screen {
				left:ceil(29px * $scale_factor); top:ceil(31px * $scale_factor);
				right:ceil(29px * $scale_factor);
				height:ceil(349px * $scale_factor);
			}

			&.not-mac {
				background-image:url(/images/shared/powerpoint-monitor.png);
				background-repeat:no-repeat;
				background-size: ceil($samsung-width * $scale_factor) ceil($samsung-height * $scale_factor);
				width:ceil($samsung-width * $scale_factor); height:ceil($samsung-height * $scale_factor);

				.screen {
					left:ceil(10px * $scale_factor); top:ceil(13px * $scale_factor);
					right: initial;
					height: ceil($samsung-height * $scale_factor) - ceil($bottom * $scale_factor);
					width: ceil($samsung-width * $scale_factor) - ceil($right * $scale_factor);

					img.toScroll {}
				}
			}

			@include isIpad($scale_factor);
		}

		.try-arrows {
			left:(ceil($samsung-width * $scale_factor) + 30px);
		}

		.try {
			left:(ceil($samsung-width * $scale_factor) + 30px + 60px + 15px);
		}
	}

	@media #{$xlarge-only} {
		$scale_factor: 0.8;

		height:ceil(550px * $scale_factor);

		.monitor {
			width:ceil(680px * $scale_factor); height:ceil(550px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(550px * $scale_factor);

			.screen {
				left:ceil(29px * $scale_factor); top:ceil(31px * $scale_factor);
				right:ceil(29px * $scale_factor);
				height:ceil(349px * $scale_factor);
			}

			&.not-mac {
				background-image:url(/images/shared/powerpoint-monitor.png);
				background-repeat:no-repeat;
				background-size: ceil($samsung-width * $scale_factor) ceil($samsung-height * $scale_factor);
				width:ceil($samsung-width * $scale_factor); height:ceil($samsung-height * $scale_factor);

				.screen {
					left:ceil(10px * $scale_factor); top:ceil(13px * $scale_factor);
					right: initial;
					height: ceil($samsung-height * $scale_factor) - ceil($bottom * $scale_factor);
					width: ceil($samsung-width * $scale_factor) - ceil($right * $scale_factor);

					img.toScroll {}
				}
			}

			@include isIpad($scale_factor);
		}

		.try-arrows {
			left:(ceil($samsung-width * $scale_factor) + 5px);
		}

		.try {
			left:(ceil($samsung-width * $scale_factor) + 0px + 60px + 10px);
		}
	}

	@media #{$large-only} {
		$scale_factor: 0.6;

		height:ceil(550px * $scale_factor);

		.monitor {
			width:ceil(680px * $scale_factor); height:ceil(550px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(550px * $scale_factor);

			.screen {
				left:ceil(29px * $scale_factor); top:ceil(31px * $scale_factor);
				right:ceil(29px * $scale_factor);
				height:ceil(349px * $scale_factor);
			}

			&.not-mac {
				background-image:url(/images/shared/powerpoint-monitor.png);
				background-repeat:no-repeat;
				background-size: ceil($samsung-width * $scale_factor) ceil($samsung-height * $scale_factor);
				width:ceil($samsung-width * $scale_factor); height:ceil($samsung-height * $scale_factor);

				.screen {
					left:ceil(10px * $scale_factor); top:ceil(13px * $scale_factor);
					right: initial;
					height: ceil($samsung-height * $scale_factor) - ceil($bottom * $scale_factor);
					width: ceil($samsung-width * $scale_factor) - ceil($right * $scale_factor);

					img.toScroll {}
				}
			}

			@include isIpad($scale_factor);
		}

		.try-arrows {
			left:(ceil($samsung-width * $scale_factor) + 30px);
		}

		.try {
			left:(ceil($samsung-width * $scale_factor) + 30px + 60px + 15px);
		}
	}

	@media #{$medium-only} {
		$scale_factor: 0.54;

		height:(ceil(550px * $scale_factor) + 44px);

		.monitor {
			position:absolute;
			left:50%;
			@include translateX(-50%);
			margin-top:44px;
			width:ceil(680px * $scale_factor); height:ceil(550px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(550px * $scale_factor);

			.screen {
				left:ceil(29px * $scale_factor); top:ceil(31px * $scale_factor);
				right:ceil(29px * $scale_factor);
				height:ceil(349px * $scale_factor);
			}

			&.not-mac {
				background-image:url(/images/shared/powerpoint-monitor.png);
				background-repeat:no-repeat;
				background-size: ceil($samsung-width * $scale_factor) ceil($samsung-height * $scale_factor);
				width:ceil($samsung-width * $scale_factor); height:ceil($samsung-height * $scale_factor);

				.screen {
					left:ceil(10px * $scale_factor); top:ceil(13px * $scale_factor);
					right: initial;
					height: ceil($samsung-height * $scale_factor) - ceil($bottom * $scale_factor);
					width: ceil($samsung-width * $scale_factor) - ceil($right * $scale_factor);

					img.toScroll {}
				}
			}

			@include isIpad($scale_factor);
		}

		.try-arrows {
			display:none;
			left:(ceil($samsung-width * $scale_factor) + 30px);
		}

		.try {
			left:0;
			right:0;
			top:0;
			text-align: center;
			@include translateY(0);
		}
	}

	@media #{$small-only} {
		$scale_factor: 0.44;

		height:(ceil(550px * $scale_factor) + 44px);

		.monitor {
			position:absolute;
			left:50%;
			@include translateX(-50%);
			margin-top:44px;
			width:ceil(680px * $scale_factor); height:ceil(550px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(550px * $scale_factor);

			.screen {
				left:ceil(29px * $scale_factor); top:ceil(31px * $scale_factor);
				right:ceil(29px * $scale_factor);
				height:ceil(349px * $scale_factor);
			}

			&.not-mac {
				background-image:url(/images/shared/powerpoint-monitor.png);
				background-repeat:no-repeat;
				background-size: ceil($samsung-width * $scale_factor) ceil($samsung-height * $scale_factor);
				width:ceil($samsung-width * $scale_factor); height:ceil($samsung-height * $scale_factor);

				.screen {
					left:ceil(10px * $scale_factor); top:ceil(13px * $scale_factor);
					right: initial;
					height: ceil($samsung-height * $scale_factor) - ceil($bottom * $scale_factor);
					width: ceil($samsung-width * $scale_factor) - ceil($right * $scale_factor);

					img.toScroll {}
				}
			}

			@include isIpad($scale_factor);
		}

		.try-arrows {
			display:none;
			left:(ceil($samsung-width * $scale_factor) + 30px);
		}

		.try {
			left:0;
			right:0;
			top:0;
			text-align: center;
			@include translateY(0);
		}
	}

}

// Inrteractive PPT

.interactive-ppt {
	padding-top:80px;
	padding-bottom:80px;
	height:550px;
	position:relative;

	.monitor {
		float:left;
		position:relative;
		width:680px; height:524px;
		background-image:url(/images/shared/interactive-tv.png);
		background-repeat:no-repeat;

		.screen {
			position:absolute;
			left:10px; top:10px;
			right:10px;
			height:372px;
			background-color:$grey-2;
			overflow-x:hidden;
			overflow-y:scroll;

			img.toScroll {
				width:100%;
				position:absolute;
				left:0; top:0;
			}
		}


	}

	.try-arrows {
		position:absolute;
		left:(680px + 30px);
		top: calc(50% - 60px);
		@include translateY(-50%);
		width:60px;
	}

	.try {
		position:absolute;
		left:(680px + 30px + 60px + 15px);
		right:0;
		top: calc(50% - 60px);
		@include translateY(-50%);
		font-size:24px;
		line-height:24px;
		font-weight:$font-weight-light;

		span {
			font-weight:$font-weight-semi-bold;
		}
	}

	@media #{$xlarge-only} {
		$scale_factor: 0.75;

		height:ceil(524px * $scale_factor);

		.monitor {
			width:ceil(680px * $scale_factor); height:ceil(524px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(524px * $scale_factor);

			.screen {
				left:ceil(10px * $scale_factor); top:ceil(10px * $scale_factor);
				right:ceil(10px * $scale_factor);
				height:ceil(372px * $scale_factor);
			}
		}

		.try-arrows {
			left:(ceil(680px * $scale_factor) + 30px);
		}

		.try {
			left:(ceil(680px * $scale_factor) + 30px + 60px + 15px);
		}
	}

	@media #{$large-only} {
		$scale_factor: 0.6;

		height:ceil(524px * $scale_factor);

		.monitor {
			width:ceil(680px * $scale_factor); height:ceil(524px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(524px * $scale_factor);

			.screen {
				left:ceil(10px * $scale_factor); top:ceil(10px * $scale_factor);
				right:ceil(10px * $scale_factor);
				height:ceil(372px * $scale_factor);
			}
		}

		.try-arrows {
			left:(ceil(680px * $scale_factor) + 30px);
		}

		.try {
			left:(ceil(680px * $scale_factor) + 30px + 60px + 15px);
		}
	}

	@media #{$medium-only} {
		$scale_factor: 0.54;

		height:(ceil(524px * $scale_factor) + 44px);

		.monitor {
			position:absolute;
			left:50%;
			@include translateX(-50%);
			margin-top:44px;
			width:ceil(680px * $scale_factor); height:ceil(524px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(524px * $scale_factor);

			.screen {
				left:ceil(10px * $scale_factor); top:ceil(10px * $scale_factor);
				right:ceil(10px * $scale_factor);
				height:ceil(372px * $scale_factor);
			}
		}

		.try-arrows {
			display:none;
			left:(ceil(680px * $scale_factor) + 30px);
		}

		.try {
			left:0;
			right:0;
			top:0;
			text-align: center;
			@include translateY(0);
		}
	}

	@media #{$small-only} {
		$scale_factor: 0.44;

		height:(ceil(524px * $scale_factor) + 44px);

		.monitor {
			position:absolute;
			left:50%;
			@include translateX(-50%);
			margin-top:44px;
			width:ceil(680px * $scale_factor); height:ceil(524px * $scale_factor);
			background-size: ceil(680px * $scale_factor) ceil(524px * $scale_factor);

			.screen {
				left:ceil(10px * $scale_factor); top:ceil(10px * $scale_factor);
				right:ceil(10px * $scale_factor);
				height:ceil(372px * $scale_factor);
			}
		}

		.try-arrows {
			display:none;
			left:(ceil(680px * $scale_factor) + 30px);
		}

		.try {
			left:0;
			right:0;
			top:0;
			text-align: center;
			@include translateY(0);
		}
	}

}

.phones {
	padding-top:80px;
	padding-bottom:80px;

	.phone {
		width:100%;
	}
}


.project-stats {
	padding-top:30px;
	padding-bottom:30px;

	.columns {
		text-align:center;

		img.stat {
			width: 60%;
		}

		@media #{$medium-only}, #{$large-only}  {
			width: 80%;
		}

		@media #{$small-and-medium-only} {
			img.stat {
				margin-bottom: 10px;
			}
		}
	}

}

.project-footer {
	background-color:$purple-1;

	.project-button {
		background-color:$purple-1;

		a {
			display:block;
			width:100%;
			padding-top:30px;
			padding-bottom:30px;
			height:40px;

			span {
				display:block;
				position:absolute;
				top:50%;
				color: $white;
				text-align:center;
				font-weight:$font-weight-light;
				font-size:24px;
				line-height:24px;
				@include translateY(-50%);

				@media #{$xlarge-only}, #{$large-only} {
					font-size:16px;
					line-height:20px;
				}

				@media #{$medium-only} {
					font-size:16px;
					line-height:18px;
				}

				@media #{$small-only} {
					font-size:16px;
					line-height:16px;
				}

				&.left-arrow:before,
				&.right-arrow:after {
					content: '\e802';
					font-family: "fontello";
					font-style: normal;
					font-weight: normal;
					padding-right: 10px;
					speak: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					//text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
				}

				&.right-arrow:after {
					content: '\e803';
					padding-left: 10px;
				}
			}

			@include fadeButton($purple-1, all, lighten, $grey-1);
		}

		&.prev {

			a {
				position: relative;
				padding-left: 5px;
				@include transition-this(all, 0.3s, ease-in-out);

				span {
					@include transition-this(all, 0.3s, ease-in-out);

					@media #{$small-to-large-only} {
						text-align:left;
					}

					@media #{$xlarge-up} {
						left: 30px;
					}
				}

				&:hover {
					background-color: $white;

					span {
						color: $purple-1 !important;
					}
				}
			}
		}

		&.next {
			float:right;

			@media #{$small-to-large-only} {
				float:left;
			}

			a {
				position: relative;
				padding-right: 5px;
				@include transition-this(all, 0.3s, ease-in-out);

				span {
					@include transition-this(all, 0.3s, ease-in-out);
					right: 0;

					@media #{$small-to-large-only} {
						text-align:right;
					}

					@media #{$xlarge-up} {
						right: 30px;
					}
				}

				&:hover {
					background-color: $white;

					span {
						color: $purple-1 !important;
					}
				}
			}
		}
	}

	.middle {

		background-color:$purple-1;
		text-align:center;

		@media #{$small-and-medium-only} {
			display:none;
		}

		a {
			display: block;
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: $purple-1;
			height: 40px;
			@include transition-this(all, 0.3s, ease-in-out);

			span {
				@include transition-this(all, 0.3s, ease-in-out);
				line-height: 36px;
			}

			&:hover {
				background-color: $white;

				span {
					color: $purple-1 !important;
				}
			}
		}

		span {
			display:inline-block;
			color:$white;
			font-weight:$font-weight-light;
			font-size:36px;
			line-height:36px;
			position:relative;
			text-align:right;

			@media #{$xlarge-only}, #{$large-only} {
				font-size:30px;
			}

			@media #{$medium-only} {
				font-size:16px;
			}

			@media #{$small-only} {
				font-size:16px;
			}
		}

		.button {
			display:inline-block;
			margin-left:35px;
			position:relative;
			height:40px; width:190px;

			@media #{$xlarge-only} {
				margin-left:15px;
				a {
					font-size:18px;
					line-height:18px;
					top:14px;
				}
			}

			a {
				position:absolute;
				left:0;
				top:10px;
				display:block;
				width:(190px - 35px - 35px);
				background-color:$white;
				@include border-radius(10px);
				color:$purple-1;
				padding:10px 35px;
				font-size:20px;
				line-height:20px;

				@include fadeButton($grey-2, all);
			}

		}
	}

	&.grey {
		background-color:$purple-1;

		.project-button {
			background-color:$purple-1;

			a {
				@include fadeButton($purple-1, all, lighten, $grey-1);
			}

			&.prev,
			&.next {

				a {

					&:hover {
						background-color: $white;

						span {
							color: $purple-1 !important;
						}
					}
				}
			}
		}

		.middle {

			background-color: $purple-1;

			a {
				background-color:  $purple-1;

				&:hover {
					background-color: $white;

					span {
						color:  $purple-1 !important;
					}
				}
			}
		}
	}
}

.interactive-ppt, .interactive-site, .still-site {

	&.pink {background-color:$pink-1;}
	&.orange {background-color:$orange-1;}
	&.teal {background-color:$teal-1;}
	&.red {background-color:$red-1;}
	&.yellow {background-color:$yellow-1;}
	&.green {background-color:$green-1;}
}

.project-stats {

	&.pink {background-color:$pink-2;}
	&.orange {background-color:$orange-1;}
	&.teal {background-color:$teal-1;}
	&.red {background-color:$red-1;}
	&.yellow {background-color:$yellow-1;}
	&.green {background-color:$green-1;}
}


@import 'partials/case_study';

@import 'partials/orb';

@import 'partials/css_loader';

.interactive-site {

	&.scrolling-section-height {
		height: auto;

		@media #{$medium-only} {
			height: 260px;
		}

		@media #{$small-only} {
			height: 260px;
		}
	}

	.carousel-wrap {
		width: 960px;

		@media #{$xlarge-only} {
			width: 680px;
		}

		@media #{$large-only} {
			width: 520px;
		}

		@media #{$medium-only} {
			position: absolute;
			width:100%;
			top: 50px;
		}

		@media #{$small-only} {
			position: absolute;
			width:100%;
			top: 50px;
		}

		.case-studies-wrap {
			background-color: transparent;

			.case-studies {
				 .case-banner-nav-left
				,.case-banner-nav-right {
					background-color: #85bf65;
				}

				.case-banner-nav-right {
					right: -1px;
				}

			}

			.orb-wrap {
				display:none;
			}
		}

		 .case-banner-nav-left
		,.case-banner-nav-right {
			display:block;
		}
	}

	.try-arrows, .try {

		&.carousel-arrow {
			top: calc(50% - 0px);
			left: 960px;

			@media #{$xlarge-only} {
				left: 670px;
			}

			@media #{$large-only} {
				left: 510px;
			}

			@media #{$medium-only} {

			}

			@media #{$small-only} {

			}
		}

		&.carousel-text {
			top: calc(50% - 0px);
			left: 1050px;

			@media #{$xlarge-only} {
				left: 750px;
			}

			@media #{$large-only} {
				left: 580px;
			}

			@media #{$medium-only} {
				width: 100%;
				top: 0;
				left: 0;
			}

			@media #{$small-only} {
				width:100%;
				top: 0;
				left: 0;
			}
		}
	}
}
