@import '../functions';
@import '../variables';


/**
 * Import header controls
 */
@import 'partials/header_video_controls';

/**
 * Import typed style
 */
@import 'partials/typed_style';

/**
 * Service page style
 */
 #headerWrapper {
	//  @include backgroundUrl('services');
	 @include backgroundUrl('presentation');
 }

.services {

	.block {

		height:510px;
		position:relative;
		background-size:cover;

		a {
			display:block;
			width:100%; height:100%;
			cursor:default;

			.icon {
				@include gpuAccelerate();
				position:absolute;
				left:50%; top:((510px - 60px - 300px) / 2);
				height:300px;
				@include transition-this(all, 0.3s, ease-out);
				-webkit-backface-visibility: hidden;
				cursor:default;

				image {
					@include gpuAccelerate();
					width: 100%;
					height: 100%;
				}
			}

			.label {
				position:absolute;
				left:0; bottom:0; right:0;
				height:60px;
				overflow:hidden;
				background-color: rgba(0, 0, 0, 0.58);
				cursor:default;

				@include transition-this(height, 0.3s, ease-out);

				h2 {
					color:$white;
					height:60px;
					position:absolute;
					left:50%;
					font-weight:$font-weight-semi-bold;
					font-size:24px;
					line-height:24px;
					top:17px;
					cursor:default;

					@include transition-this(all, 0.3s, ease-out);
				}

				p {
					color:$white;
					margin-top:83px;
					margin-left:8%; margin-right:8%;
					cursor:default;
				}

				.button {
					@include float-both();

					margin-top:15px;
					margin-left:8%; margin-right:8%;
					background-color:$white;
					padding:10px 20px;
					@include border-radius(5px);

					font-weight: $font-weight-light;
					font-size: 14px;
					line-height: 14px;
					color:$grey-3;
					cursor:pointer;

					@media #{$small-and-medium-only} {
						font-size: 18px;
						line-height: 18px;
					}

					@include fadeButton($grey-2, all);
				}
			}
		}

		&:hover, &.forced {
			a {
				.icon {
					height:110px;
					top:50px;
					left:8%;
					margin-left:0!important;

				}

				.label {

					height:300px;


					h2 {
						left:8%;

						margin-left:0!important;
						top:40px;
					}
				}
			}
		}

		&.forced {
			@media #{$small-only} {
				height:655px!important;
			}

			@media #{$medium-only} {
				height:535px!important;
			}

			a {
				.label {
					@media #{$small-only} {
						height:445px!important;
					}

					@media #{$medium-only} {
						height:320px!important;
					}
				}
			}
		}

		&[data-id="1"] {
			@include at2x('/images/services-landing-page/presentations-background', jpg);
			background-repeat: no-repeat;
			background-size: cover !important;
		}

		&[data-id="2"] {
			@include at2x('/images/services-landing-page/video-background', jpg);
			background-repeat: no-repeat;
			background-size: cover !important;

		}

		&[data-id="3"] {
			@include at2x('/images/services-landing-page/digital-background', jpg);
			background-repeat: no-repeat;
			background-size: cover !important;

		}

		&[data-id="4"] {
			@include at2x('/images/services-landing-page/campaigns-background', jpg);
			background-repeat: no-repeat;
			background-size: cover !important;
		}

		&[data-id="5"] {
			@include at2x('/images/services-landing-page/exhibitions-background', jpg);
			background-repeat: no-repeat;
			background-size: cover !important;
		}

		&[data-id="6"] {
			@include at2x('/images/services-landing-page/infosec-background', jpg);
			background-repeat: no-repeat;
			background-size: cover !important;
		}

	}

	//@include centreContent(1600px);

}

@import 'partials/quotes';

@import 'partials/clients';

/* Sub Pages */

.we-are-block {
	&.orange .hilite {background-color:$orange-1rgba;}
	&.pink .hilite {background-color:$pink-1rgba;}
	&.teal .hilite {background-color:$teal-1rgba;}
	&.red .hilite {background-color:$red-1rgba;}
	&.yellow .hilite {background-color:$yellow-1rgba;}
	&.green .hilite {background-color:$green-2rgba;}
}

@mixin whiteText() {
	h1, h2, p {
		color:$white;
	}
}

.intro {

	&.orange {
		background-color:$orange-1;
		@include whiteText();
	}

	&.pink {
		background-color:$pink-1;
		@include whiteText();
	}

	&.teal {
		background-color:$teal-1;
		@include whiteText();
	}

	&.red {
		background-color:$red-1;
		@include whiteText();
	}

	&.yellow {
		background-color:$yellow-1;
		@include whiteText();
	}

	&.green {
		background-color:$green-2;
		@include whiteText();
	}
}

.intro {
	&.infosec-intro {

		h1, h2 {
			color:$teal-1;
		}

		div.constrain-width {

			@media #{$xxlarge-up} {
				margin: 0 auto !important;
				width: 1440px !important;
				float:none;
			}
		}

	}

	p.need {
		position:absolute;
		left:0; right:0;
		text-align: center;

		&.transition {
			@include transition-this(opacity, 0.3s, ease-out);
		}

		&.invisible {
			@include opacity(0, 0);
		}
	}
}

.service-content {
	padding-top:80px;
	padding-bottom:80px;

	$fontSize: 48px;
	$lineHeight: 50px;
	$imgWidth: 150px;

	&.no-constraint {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	&.infosec-content {
		background-color:$teal-1;

		div.infosec-wrap {

			text-align: center;

			&.pad-top30 {
				padding-top: 30px;
			}

			@media #{$xxlarge-up} {
				margin: 0 auto;
				width: 1440px;
			}

			h1 {
				font-size: ($fontSize * 0.9);
				font-weight: $font-weight-light;
				line-height: $lineHeight;
			}

			h2 {
				font-size:($fontSize * 0.6);
			}

			svg,
			img {
				width:$imgWidth;
				height:$imgWidth;
				margin-top:25px;

				&.rotate-image {
					@include rotate(315deg);
				}

				&.increase-size {
					$increasedSize: ($imgWidth * 1.3);

					width:$increasedSize;

					image {
						width:$increasedSize;
						height:$increasedSize;
					}
				}

				&.reduced-size {
					$increasedSize: ($imgWidth * 0.8);

					width:$increasedSize;

					image {
						width:$increasedSize;
						height:$increasedSize;
					}
				}

				image {
					width:$imgWidth;
					height:$imgWidth;
				}
			}

		}
	}

	&.infosec-content-bottom {
		text-align: center;

		div.infosec-bottom-wrap {

			h1, h2 {
				font-size: ($fontSize * 0.9);
				font-weight: $font-weight-light;
				color:$teal-1;
				padding-bottom:20px;
			}

			p {
				padding-bottom:20px;
			}

			img {
				&.pull-right {
					float:right;
				}

				&.pull-left {
					float:left;
				}

				@media #{$small-only} {
					float:none !important;
					margin-bottom:20px;
				}
			}

			@media #{$xxlarge-up} {
				width: 1440px;
				margin: 0 auto;
				float: none;
			}
		}
	}



	h1 {

	}

	h2 {
		font-size:48px;
		line-height:50px;
		font-weight: $font-weight-light;
		margin-bottom:16px;

		@media #{$large-only} {
			font-size:36px;
			line-height:38px;
		}
	}

	h3 {
		font-size:24px;
		line-height:24px;
		font-weight: $font-weight-light;
		color:$grey-1;
	}

	p {
		color:$grey-1;
		font-weight: $font-weight-light;
		margin-bottom:16px;
	}

	a.button {
		background-color:$purple-1;
		color:$white;
		@include border-radius(7px);
		padding:5px 15px;
		cursor:pointer;
	}

	&.pink {
		h1 {
			color:$pink-1;

			span {
				&.grey2 {
					color:$grey-1;
				}
			}
		}
	}

	.sideImgL,
	.sideImgR {
		position:relative;

		@media #{$small-and-medium-only} {
			text-align: center;
		}

		img {
			position:absolute;
			//width: 100%;

			&.no-img-constraint {
				width:initial;

				@media #{$large-only} {
					width: 100%;
					position:relative;
				}
			}

			@media #{$large-only} {
				height:350px;

				&.no-img-constraint {
					width:initial;
					height:auto !important;
				}
			}

			@media #{$small-and-medium-only} {
				width:80% !important;
				height:auto;
				position:relative;
				left:auto;
				right:auto;

				&.no-img-constraint {
					width: 100% !important;
				}
			}

			&.shim {
				position:relative;
				height:450px;
				float:left;

				@media #{$small-and-medium-only} {
					position:absolute;
				}
			}
		}

		.no-constraint {
			img {
				height:auto;

				&.shim {

					@media #{$xlarge-only} {
						position:absolute;
					}

					@media #{$large-only} {
						position:absolute;
					}
				}
			}
		}
	}

	.sideImgL {

		img {
			right:0;

			&.fix-width {
				width: 730px;

				@media #{$large-only} {
					width: auto;
				}
			}

			&.fix-height {
				height: 100%
			}

			&.no-img-constraint {
				@include calc('width', '100% + 40px');
			}

			@media #{$xxlarge-up} {
				right: auto;
				left: 12%;

				&.img-right {
					left: auto;
				}

				&.img-left {
					left: 0px;
				}

				&.img-right-20 {
					left: 20px;
				}

				&.no-img-constraint {
					//width: 100%;
					@include calc('width', '100% + 40px');
					height: auto;
					left: auto;
					right: -40px;
				}

				&.push-left {
					left: 5%;
				}
			}

			@media #{$xlarge-only} {
				&.no-img-constraint {
					right: -40px;
				}
			}

			@media only screen and (min-width: 2600px) {
				&.no-img-constraint {
					@include calc('width', '100% + 40px');
					height: auto !important;
				}
			}

			@media only screen and (max-width: 2210px) {
				&.no-img-constraint {
					width: auto;
					height: 105%;
				}
			}

			@media #{$large-only} {
				&.no-img-constraint {
					width: 100%;
				}
			}
		}
	}

	.sideImgR {
		img {
			left:0;

			&.fix-width {
				width: 730px;

				@media #{$large-only} {
					width: auto;
				}
			}

			&.fix-height {
				height: 100%
			}

			&.no-img-constraint {
				//@include calc('width', '100% + 40px');
			}

			@media #{$xxlarge-up} {
				left: auto;
				right: 12%;

				&.img-left {
					left: 0px;
				}

				&.img-right {
					right: 0px;
				}

				&.no-img-constraint {
					width: auto;
					height: 100%;
					left: 0;
				}
			}

			@media only screen and (min-width: 2600px) {
				&.no-img-constraint {
				    width: 100%;
					height: auto !important;
				}
			}

			@media only screen and (max-width: 2210px) {
				&.no-img-constraint {
					width: auto;
					height: 100%;
				}
			}

			@media only screen and (min-width: 1280px) and (max-width: 1440px) {
				&.hide-this {
					display:none !important;
				}
			}

			@media #{$large-only} {
				&.no-img-constraint {
					width: 100%;
				}
			}
		}
	}

	.project {
		padding-bottom: 100px;
		padding-top: 50px;
		overflow: hidden;

		.plus-right{
			width: 52% !important;

			@media #{$small-only}, #{$medium-only}, #{$large-only} {
				width: 100% !important;
			}
		}

		.minus-left{
			width: 48% !important;
			@media #{$small-only}, #{$medium-only}, #{$large-only} {
				width: 100% !important;
			}
		}

		.pull-right {
			float:right!important;

			@media #{$small-and-medium-only} {
				float:left!important;
			}
		}

		@media #{$xlarge-only} {
			&.no-constraint {
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}

		@media #{$xxlarge-up} {
			margin: 0 auto;
			max-width: 1600px !important;
			float: none  !important;
			padding-top: 50px;

		}

		&.no-constraint {
			padding-top: 0px;
			padding-bottom: 0px;

			@media #{$xxlarge-up} {
				max-width: 100% !important;
				padding-top: 0px;
				padding-bottom: 0px;
			}

			@media only screen and (min-width: 2600px) {
				max-width: 100% !important;
				padding-top: 0px;
				padding-bottom: 0px;
			}

			@media #{$large-only} {
			    padding-bottom: 50px;

				.sideImgR,
				.sideImgL {

					.shim {
						position: absolute !important;
					}
				}
			}

			@media #{$small-only}, #{$medium-only} {
				padding-bottom: 50px
			}

			@include serviceBackgroundImage('open-bet', 'open-bet.jpg', 'open-bet_1280.jpg');

			@include serviceBackgroundImage('kelway', 'kelway.jpg', 'kelway_1280.jpg');

			@include serviceBackgroundImage('castrol', 'castrol.jpg', 'castrol_1280.jpg');

			@include serviceBackgroundImage('microsoft', 'microsoft.jpg', 'microsoft_1280.jpg');

			@include serviceBackgroundImage('etf', 'etf.jpg', 'etf_1280.jpg');
		}

		.no-constraint-text-right {
			margin-left: 160px;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.no-constraint-text-left {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}

.service-content {

	&.orange {
		h2 {color:$orange-1;}

		a.button {
			background-color:$orange-1;

			@include fadeButton($orange-1, all);
		}
	}

	&.pink {
		h2 {color:$pink-1;}

		a.button {
			background-color:$pink-1;

			@include fadeButton($pink-1, all);
		}
	}

	&.red {
		h2 {color:$red-1;}

		a.button {
			background-color:$red-1;

			@include fadeButton($red-1, all);
		}
	}

	&.teal {
		h2 {color:$teal-1;}

		a.button {
			background-color:$teal-1;

			@include fadeButton($teal-1, all);
		}
	}

	&.yellow {
		h2 {color:$yellow-1;}

		a.button {
			background-color:$yellow-1;

			@include fadeButton($yellow-1, all);
		}
	}

	&.green {
		h2 {color:$green-2;}

		a.button {
			background-color:$green-2;

			@include fadeButton($green-2, all);
		}
	}

	h2, p {
		&.white-text {
			color:$white !important;
		}
	}

	.facts-wrap {
		margin-top: 40px;

		.fact-box {
			text-align: center;
			height: 200px;
			padding:10px;
			@include box-border-sizing();

			img {
				@media #{$large-only} {
				}
			}

			p {
				span {
					font-weight: $font-weight-semi-bold;
					color:$pink-1;

				}
			}
		}
	}
}

.awards {
	padding: 80px 0;
	text-align: center;

	&.yellow {
		h2 {
			color:$yellow-1;
			font-size:($base-font-size * 2.6);
			font-weight: normal;
			padding-bottom: 20px;
		}

		a.button {
			background-color:$yellow-1;
			@include fadeButton($yellow-1, all);
		}
	}

	&.green {
		background-color: $green-1;

		h2 {
			color:white;
			font-size:($base-font-size * 2.6);
			font-weight: normal;
			padding-bottom: 20px;
		}

		p {
			color:white;
			padding-bottom: 20px;
		}

		a.button {
			background-color:$green-1;
			@include fadeButton($green-1, all);
		}

		img {
			width: 259px !important;

			@media #{$small-only}, #{$medium-only} {
				width: 100% !important;
				margin-bottom: 20px;
			}

			@media #{$xlarge-up} {
				width: 259px !important;
			}
		}
	}

	img {
		width: 80%;

		@media #{$small-only}, #{$medium-only} {
			margin-bottom: 20px;
		}
	}
}

.small-casestudy {
	$padding: 20px;
	/**
	 * Import slider style
	 */
	  @import 'partials/tag';

	 img {
		 width:100%;
	 }

	 .zero-lineheight {
		 line-height: 0;
	 }

	 .absPos {
		 position: absolute;
		 left: $padding;
		 bottom: $padding;
	 }

	 h1 {
			font-size:($base-font-size * 2.6);
			bottom: 85px !important;
			line-height: 1em;

		@media #{$large-only} {
			font-size:($base-font-size * 2.3);
		}

			@media #{$small-only}, #{$medium-only} {
				font-size:($base-font-size * 2.0);
			}
	 }

	 h2 {
		 font-size:($base-font-size * 2.0);
		 bottom: 135px !important;
		 line-height: 1em;

		 @media #{$xsmall-only} {
			 &.bespoke-bee-text {
				 font-size:($base-font-size * 1.3) !important;
			 }
		 }

		 @media #{$small-only}, #{$medium-only} {
			 font-size:($base-font-size * 1.5);
			 bottom: 120px !important;
		 }

		 @media #{$large-only} {
			 &.bespoke-bee-text {
				 font-size:($base-font-size * 1.7);
			 }
		 }
	 }

	 p {
		 font-size:($base-font-size * 1.0);
		 bottom: 112px !important;
		 line-height: 1em;

		 @media #{$small-only}, #{$medium-only} {
			 font-size:($base-font-size * 0.7);
			 bottom: 108px !important;
		 }
	 }

	 a {
		 bottom: 75px !important;
	   left: $padding;
		 line-height: 1em;

		  // @media #{$small-only}, #{$medium-only} {
			// 	bottom: 75px !important;
			// 	left: 180px !important;
			// }
	 }

	//  p {
	// 	 line-height: 1em;
	 //
	// 	 @media #{$large-only} {
	// 		 font-size:($base-font-size * 0.9);
	// 		 line-height: 1.1em;
	// 	 }
	 //
	// 	 @media #{$small-only}, #{$medium-only} {
	// 		 font-size:($base-font-size * 0.8);
	// 		 line-height: 1.2em;
	// 	 }
	//  }

	 .button {
		 position:absolute;
		 left:20px !important;
		 bottom:30px !important;
		 margin:0 auto;
		 color: #737373;
		 background-color:$white;
		 padding:10px 20px;
		 @include border-radius(5px);
		 @include gpuAccelerate(opacity);

		 font-weight: $font-weight-light;
		 font-size: 14px;
		 line-height: 14px;

		 @include fadeButton($grey-2, all);
	 }
}

@import 'partials/case_study';

@import 'partials/orb';
