@import '../functions';
@import '../variables';

.grid-wall {
	.bg-4x3 {
		@include float-both();
		width:100%;
		display:none;

		@media #{$xlarge-up} {
			display:block;
		}
	}

	.bg-3x4 {
		@include float-both();
		width:100%;
		display:none;

		@media #{$large-only} {
			display:block;
		}
	}

	.bg-2x6 {
		@include float-both();
		width:100%;
		display:none;

		@media #{$medium-only} {
			display:block;
		}
	}

	.bg-1x12 {
		@include float-both();
		width:100%;
		display:none;

		@media #{$small-only} {
			display:block;
		}
	}

	.item {
		position:absolute;
		width:25%;
		background-color:$grey-1;
		@include transition-left-top(0.3s, ease-out);
		
		@include gradientLayer();

		a {
			float:left;
			width:100%; height:100%;
			display:block;
		}

		.spacer {
			float:left;
			width:100%;
			z-index:1;

			&.dimmed::after {
				content: "<- now this *is* exciting!"; 
				position:absolute;
				top:0; right:0; bottom:0; left:0;
				background-color: rgba(0, 0, 0, 0.80);
				
			}
		}

		.overlay {
			position:absolute;
			top:0; right:0; bottom:0; left:0;
			background-color: rgba(0, 0, 0, 0.80);
			z-index:10;
		}

		.content {
			position:absolute;
			top:10%; right:10%; bottom:10%; left:10%;
			color:$white;
			z-index:20;
			
			p {
				position:absolute;
				top:50%;
				@include translateY(-50%);

				margin:0;
				font-size:18px;
				line-height:22px;
				font-weight:$font-weight-light;

				a {
					float:none;
					display:inline;
					width:auto;
				}
				a:link, a:visited {color:$white;}
				a:hover, a:visited:hover {color:darken($white, 20);}

				@media #{$xlarge-up} {
					font-size:21px;
					line-height:23px;
				}

				@media #{$small-only} {
					font-size:22px;
					line-height:24px;
				}
			}

			.bPlay {
				width:72px;
				position:absolute;
				left:50%; top:50%;
				@include translateXY(-50%,-50%);
			}
		}

		.icon {
			position:absolute;
			right:5%; bottom:5%;
			height:10%;
			z-index:30;
			
			&.increase-size {
				height:15%;
			}
		}

		&.p1 {left:0; top:0;}
		&.p2 {left:25%; top:0;}
		&.p3 {left:50%; top:0;}
		&.p4 {left:75%; top:0;}
		&.p5 {left:0; top:33.3333%;}
		&.p6 {left:25%; top:33.3333%;}
		&.p7 {left:50%; top:33.3333%;}
		&.p8 {left:75%; top:33.3333%;}
		&.p9 {left:0; top:66.6666%;}
		&.p10 {left:25%; top:66.6666%;}
		&.p11 {left:50%; top:66.6666%;}
		&.p12 {left:75%; top:66.6666%;}


		@media #{$large-only} {
			width:33.3333%;

			&.p1 {left:0; top:0;}
			&.p2 {left:33.3333%; top:0;}
			&.p3 {left:66.6666%; top:0;}
			&.p4 {left:0; top:25%;}
			&.p5 {left:33.3333%; top:25%;}
			&.p6 {left:66.6666%; top:25%;}
			&.p7 {left:0; top:50%;}
			&.p8 {left:33.3333%; top:50%;}
			&.p9 {left:66.6666%; top:50%;}
			&.p10 {left:0; top:75%;}
			&.p11 {left:33.3333%; top:75%;}
			&.p12 {left:66.6666%; top:75%;}
		}

		@media #{$medium-only} {
			width:50%;

			&.p1 {left:0; top:0;}
			&.p2 {left:50%; top:0;}
			&.p3 {left:0; top:16.6666%;}
			&.p4 {left:50%; top:16.6666%;}
			&.p5 {left:0; top:33.3333%;}
			&.p6 {left:50%; top:33.3333%;}
			&.p7 {left:0; top:50%;}
			&.p8 {left:50%; top:50%;}
			&.p9 {left:0; top:66.6666%;}
			&.p10 {left:50%; top:66.6666%;}
			&.p11 {left:0; top:83.3333%;}
			&.p12 {left:50%; top:83.3333%;}
		}

		@media #{$small-only} {
			width:100%;

			&.p1 {left:0; top:0;}
			&.p2 {left:0; top:8.3333%;}
			&.p3 {left:0; top:16.6666%;}
			&.p4 {left:0; top:25%;}
			&.p5 {left:0; top:33.3333%;}
			&.p6 {left:0; top:41.6666%;}
			&.p7 {left:0; top:50%;}
			&.p8 {left:0; top:58.3333%;}
			&.p9 {left:0; top:66.6666%;}
			&.p10 {left:0; top:75%;}
			&.p11 {left:0; top:83.3333%;}
			&.p12 {left:0; top:91.6666%;}
		}

		&.pink {
			background-color:$pink-1;
		}
		&.green {
			background-color:$green-1;
		}
		&.blue {
			background-color:$blue-1;
		}
		&.purple {
			background-color:$purple-1;
		}
	}

}


@import 'partials/fancybox';