@import '../functions';
@import '../variables';

#contentWrapper {

	section {

		.terms {
			padding-top: 40px;
			padding-bottom: 40px;
			color: $grey-1;
			text-align:center;

			.terms-section {
				margin-bottom: 50px;

				h1 {
					font-size:ceil($base-font-size * 1.6);
					line-height:ceil($base-line-height * 1.3);
				}

				p, li {
					font-size:ceil($base-font-size * 1.2);
					line-height:ceil($base-line-height * 1.375);
				}

				li {
					list-style-position: inside;
				}
			}
		}
	}
}
