body {
  margin:20px;
  font-size:100%;
  background-color:white;
  text-align:left;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  background-image:none;
  background-repeat:repeat
}
