@import 'foundation/components/global';


body {

}

.mt05 {margin-top:0.5em!important;}
.mt1 {margin-top:1em!important;}
.mt2 {margin-top:2em!important;}
.mt3 {margin-top:3em!important;}
.mt4 {margin-top:4em!important;}
.mt5 {margin-top:5em!important;}

.pt1 {padding-top:1em!important;}
.pt2 {padding-top:2em!important;}
.pt3 {padding-top:3em!important;}
.pt4 {padding-top:4em!important;}
.pt5 {padding-top:5em!important;}

.mb0 {margin-bottom:0!important;}
.mb1 {margin-bottom:1em!important;}
.mb2 {margin-bottom:2em!important;}
.mb3 {margin-bottom:3em!important;}
.mb4 {margin-bottom:4em!important;}
.mb5 {margin-bottom:5em!important;}

.ml0 {margin-left:0!important;}
.ml1 {margin-left:1em!important;}
.ml2 {margin-left:2em!important;}
.ml3 {margin-left:3em!important;}
.ml4 {margin-left:4em!important;}
.ml5 {margin-left:5em!important;}

.hidden {
	display:none;
}

.ff {float:left;}

.alert-box .close.top {
	top:1rem!important;
}

.table-buttons .button {
	margin-bottom:0;
}



.articles-container {
	margin:0 auto;
	width:100%;
	max-width:900px;
	min-height:500px;
	background-color:#f8f8f8;
}

.content_block {
	width:100%;
	float:left; clear:both;
	position:relative;

	.editable {
		position:absolute;
		left:0; top:0;
		box-sizing:border-box;
		width:100%; height:100%;
		border:1px $primary-color dashed;
		display:none;

		.label {
			margin-right: 1px;
			margin-top: 1px;
			float: right;
			cursor:pointer;
		}

		.label.icon {
			padding-top:0.2rem;
			padding-bottom:0.2rem;
		}
	}
}

.content_block:hover {
	.editable {
		display:block;
	}
}

.content_block.first {
	.editable {
		.up {
			cursor:default!important;
			background-color:lighten(desaturate($primary-color,30%),40%);
		}
	}
}

.content_block.last {
	.editable {
		.down {
			cursor:default!important;
			background-color:lighten(desaturate($primary-color,30%),40%);
		}
	}
}

.add-item {
	width:100%;
	float:left; clear:both;
	position:relative;
	background-color:#f0f0f0;
	height:10px;
	padding:0;

	text-align:center;
	overflow:hidden;

	.label {
		margin: 1px;
		float: right;
		cursor:pointer;
		display:none;
	}
}

.add-item:hover {
	height:auto;
	border:1px $primary-color dashed;

	.label {
		display:block;
	}
}

tr.disabled {
	background-color:#E4D6D6;

	&:nth-of-type(even) {
		background-color: darken(#E4D6D6,4);
	}

	a:link, a:visited {
		color: darken(#E4D6D6,25);
	}

	a:hover, a:visited:hover {
		color: darken(#E4D6D6,35);
	}
}

@import 'fancybox/fancybox';

@import 'sections/case-study';
